수정일 : 22.07.08

아래 네가지 단계로 구성되고 본 코드에서는 1단계를 구현함

1. 데이터 read
 - 신호세기 : 20.01 ~ 22.05
 - 성공률 : 20.01 ~ 22.05
 - 원격전환, 병행검침 확정일
 - 위 세가지 파일을 전부 읽어서 파일 하나로 (dataframe 한개) 합침
2. 원격전환일로부터 D-3M 데이터 평균, D-1M 데이터와 비교
 - 3개월 기간동안 보나 1개월 대상으로 보나 비슷한지 검증
3. 원격전환일~D+12M 데이터 비교
 - 원격전환 확정한 후에도 동일한 성공률 나오는지 검증
4. 전체 기간 데이터 평균, 표준편차 확인

# 1. 데이터 읽기

In [1]:
import pandas as pd
import os
import glob
import numpy as np
# import matplotlib.pyplot as pp
# import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
INPUT_FILE_DIR = "/content/drive/MyDrive/2022 Data Discovery/2. DataFile/KK/"

In [4]:
# LP 성공률 자료

# 2020년
LP_20_01 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202001.csv", index_col=False)
LP_20_02 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202002.csv", index_col=False)
LP_20_03 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202003.csv", index_col=False)
LP_20_04 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202004.csv", index_col=False)
LP_20_05 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202005.csv", index_col=False)
LP_20_06 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202006.csv", index_col=False)
LP_20_07 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202007.csv", index_col=False)
LP_20_08 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202008.csv", index_col=False)
LP_20_09 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202009.csv", index_col=False)
LP_20_10 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202010.csv", index_col=False)
LP_20_11 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202011.csv", index_col=False)
LP_20_12 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2020/GG_202012.csv", index_col=False)

# 2021년
LP_21_01 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202101.csv", index_col=False)
LP_21_02 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202102.csv", index_col=False)
LP_21_03 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202103.csv", index_col=False)
LP_21_04 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202104.csv", index_col=False)
LP_21_05 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202105.csv", index_col=False)
LP_21_06 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202106.csv", index_col=False)
LP_21_07 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202107.csv", index_col=False)
LP_21_08 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202108.csv", index_col=False)
LP_21_09 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202109.csv", index_col=False)
LP_21_10 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202110.csv", index_col=False)
LP_21_11 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202111.csv", index_col=False)
LP_21_12 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2021/GG_202112.csv", index_col=False)

# 2022년
LP_22_01 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2022/GG_202201.csv", index_col=False)
LP_22_02 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2022/GG_202202.csv", index_col=False)
LP_22_03 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2022/GG_202203.csv", index_col=False)
LP_22_04 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2022/GG_202204.csv", index_col=False)
LP_22_05 = pd.read_csv(INPUT_FILE_DIR+"성공률데이터/2022/GG_202205.csv", index_col=False)

In [5]:
# 신호세기 자료

# 2020년
RSRP_20_01 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202001.csv", index_col=False)
RSRP_20_02 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202002.csv", index_col=False)
RSRP_20_03 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202003.csv", index_col=False)
RSRP_20_04 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202004.csv", index_col=False)
RSRP_20_05 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202005.csv", index_col=False)
RSRP_20_06 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202006.csv", index_col=False)
RSRP_20_07 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202007.csv", index_col=False)
RSRP_20_08 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202008.csv", index_col=False)
RSRP_20_09 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202009.csv", index_col=False)
RSRP_20_10 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202010.csv", index_col=False)
RSRP_20_11 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202011.csv", index_col=False)
RSRP_20_12 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202012.csv", index_col=False)

# 2021년
RSRP_21_01 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202101.csv", index_col=False)
RSRP_21_02 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202102.csv", index_col=False)
RSRP_21_03 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202103.csv", index_col=False)
RSRP_21_04 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202104.csv", index_col=False)
RSRP_21_05 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202105.csv", index_col=False)
RSRP_21_06 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202106.csv", index_col=False)
RSRP_21_07 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202107.csv", index_col=False)
RSRP_21_08 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202108.csv", index_col=False)
RSRP_21_09 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202109.csv", index_col=False)
RSRP_21_10 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202110.csv", index_col=False)
RSRP_21_11 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202111.csv", index_col=False)
RSRP_21_12 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202112.csv", index_col=False)

# 2022년
RSRP_22_01 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202201.csv", index_col=False)
RSRP_22_02 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202202.csv", index_col=False)
RSRP_22_03 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202203.csv", index_col=False)
RSRP_22_04 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202204.csv", index_col=False)
RSRP_22_05 = pd.read_csv(INPUT_FILE_DIR+"신호세기데이터/GG_202205.csv", index_col=False)

In [6]:
# 병행검침 확정일, 원격검침 전환일

FIX_DT = pd.read_excel(INPUT_FILE_DIR+"원격전환 및 병행확정일 내역_220701.xlsx", index_col=False)

In [7]:
# 실제 사용 할 컬럼만 저장 -> 메모리 부족으로 강제 종료됨

In [8]:
# LP 성공률 데이터 사이즈 축소
LP_20_01 = LP_20_01[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]

In [9]:
LP_20_01.columns = ['cno', 'TYPE_2001', 'L2001_B_S', 'L2001_1', 'L2001_2',
       'L2001_3', 'L2001_4', 'L2001_5', 'L2001_6', 'L2001_7', 'L2001_8',
       'L2001_9', 'L2001_10', 'L2001_11', 'L2001_12', 'L2001_13',
       'L2001_14', 'L2001_15', 'L2001_16', 'L2001_17', 'L2001_18',
       'L2001_19', 'L2001_20', 'L2001_21', 'L2001_22', 'L2001_23',
       'L2001_24', 'L2001_25', 'L2001_26', 'L2001_27', 'L2001_28',
       'L2001_29', 'L2001_30', 'L2001_31', 'L2001_M_S']

In [10]:
LP_20_02 = LP_20_02[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_02.columns = ['cno', 'TYPE_2002', 'L2002_B_S', 'L2002_1', 'L2002_2',
       'L2002_3', 'L2002_4', 'L2002_5', 'L2002_6', 'L2002_7', 'L2002_8',
       'L2002_9', 'L2002_10', 'L2002_11', 'L2002_12', 'L2002_13',
       'L2002_14', 'L2002_15', 'L2002_16', 'L2002_17', 'L2002_18',
       'L2002_19', 'L2002_20', 'L2002_21', 'L2002_22', 'L2002_23',
       'L2002_24', 'L2002_25', 'L2002_26', 'L2002_27', 'L2002_28',
       'L2002_29', 'L2002_30', 'L2002_31', 'L2002_M_S']
LP_20_03 = LP_20_03[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_03.columns = ['cno', 'TYPE_2003', 'L2003_B_S', 'L2003_1', 'L2003_2',
       'L2003_3', 'L2003_4', 'L2003_5', 'L2003_6', 'L2003_7', 'L2003_8',
       'L2003_9', 'L2003_10', 'L2003_11', 'L2003_12', 'L2003_13',
       'L2003_14', 'L2003_15', 'L2003_16', 'L2003_17', 'L2003_18',
       'L2003_19', 'L2003_20', 'L2003_21', 'L2003_22', 'L2003_23',
       'L2003_24', 'L2003_25', 'L2003_26', 'L2003_27', 'L2003_28',
       'L2003_29', 'L2003_30', 'L2003_31', 'L2003_M_S']
LP_20_04 = LP_20_04[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_04.columns = ['cno', 'TYPE_2004', 'L2004_B_S', 'L2004_1', 'L2004_2',
       'L2004_3', 'L2004_4', 'L2004_5', 'L2004_6', 'L2004_7', 'L2004_8',
       'L2004_9', 'L2004_10', 'L2004_11', 'L2004_12', 'L2004_13',
       'L2004_14', 'L2004_15', 'L2004_16', 'L2004_17', 'L2004_18',
       'L2004_19', 'L2004_20', 'L2004_21', 'L2004_22', 'L2004_23',
       'L2004_24', 'L2004_25', 'L2004_26', 'L2004_27', 'L2004_28',
       'L2004_29', 'L2004_30', 'L2004_31', 'L2004_M_S']
LP_20_05 = LP_20_05[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_05.columns = ['cno', 'TYPE_2005', 'L2005_B_S', 'L2005_1', 'L2005_2',
       'L2005_3', 'L2005_4', 'L2005_5', 'L2005_6', 'L2005_7', 'L2005_8',
       'L2005_9', 'L2005_10', 'L2005_11', 'L2005_12', 'L2005_13',
       'L2005_14', 'L2005_15', 'L2005_16', 'L2005_17', 'L2005_18',
       'L2005_19', 'L2005_20', 'L2005_21', 'L2005_22', 'L2005_23',
       'L2005_24', 'L2005_25', 'L2005_26', 'L2005_27', 'L2005_28',
       'L2005_29', 'L2005_30', 'L2005_31', 'L2005_M_S']
LP_20_06 = LP_20_06[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_06.columns = ['cno', 'TYPE_2006', 'L2006_B_S', 'L2006_1', 'L2006_2',
       'L2006_3', 'L2006_4', 'L2006_5', 'L2006_6', 'L2006_7', 'L2006_8',
       'L2006_9', 'L2006_10', 'L2006_11', 'L2006_12', 'L2006_13',
       'L2006_14', 'L2006_15', 'L2006_16', 'L2006_17', 'L2006_18',
       'L2006_19', 'L2006_20', 'L2006_21', 'L2006_22', 'L2006_23',
       'L2006_24', 'L2006_25', 'L2006_26', 'L2006_27', 'L2006_28',
       'L2006_29', 'L2006_30', 'L2006_31', 'L2006_M_S']
LP_20_07 = LP_20_07[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_07.columns = ['cno', 'TYPE_2007', 'L2007_B_S', 'L2007_1', 'L2007_2',
       'L2007_3', 'L2007_4', 'L2007_5', 'L2007_6', 'L2007_7', 'L2007_8',
       'L2007_9', 'L2007_10', 'L2007_11', 'L2007_12', 'L2007_13',
       'L2007_14', 'L2007_15', 'L2007_16', 'L2007_17', 'L2007_18',
       'L2007_19', 'L2007_20', 'L2007_21', 'L2007_22', 'L2007_23',
       'L2007_24', 'L2007_25', 'L2007_26', 'L2007_27', 'L2007_28',
       'L2007_29', 'L2007_30', 'L2007_31', 'L2007_M_S']
LP_20_08 = LP_20_08[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_08.columns = ['cno', 'TYPE_2008', 'L2008_B_S', 'L2008_1', 'L2008_2',
       'L2008_3', 'L2008_4', 'L2008_5', 'L2008_6', 'L2008_7', 'L2008_8',
       'L2008_9', 'L2008_10', 'L2008_11', 'L2008_12', 'L2008_13',
       'L2008_14', 'L2008_15', 'L2008_16', 'L2008_17', 'L2008_18',
       'L2008_19', 'L2008_20', 'L2008_21', 'L2008_22', 'L2008_23',
       'L2008_24', 'L2008_25', 'L2008_26', 'L2008_27', 'L2008_28',
       'L2008_29', 'L2008_30', 'L2008_31', 'L2008_M_S']
LP_20_09 = LP_20_09[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_09.columns = ['cno', 'TYPE_2009', 'L2009_B_S', 'L2009_1', 'L2009_2',
       'L2009_3', 'L2009_4', 'L2009_5', 'L2009_6', 'L2009_7', 'L2009_8',
       'L2009_9', 'L2009_10', 'L2009_11', 'L2009_12', 'L2009_13',
       'L2009_14', 'L2009_15', 'L2009_16', 'L2009_17', 'L2009_18',
       'L2009_19', 'L2009_20', 'L2009_21', 'L2009_22', 'L2009_23',
       'L2009_24', 'L2009_25', 'L2009_26', 'L2009_27', 'L2009_28',
       'L2009_29', 'L2009_30', 'L2009_31', 'L2009_M_S']
LP_20_10 = LP_20_10[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_10.columns = ['cno', 'TYPE_2010', 'L2010_B_S', 'L2010_1', 'L2010_2',
       'L2010_3', 'L2010_4', 'L2010_5', 'L2010_6', 'L2010_7', 'L2010_8',
       'L2010_9', 'L2010_10', 'L2010_11', 'L2010_12', 'L2010_13',
       'L2010_14', 'L2010_15', 'L2010_16', 'L2010_17', 'L2010_18',
       'L2010_19', 'L2010_20', 'L2010_21', 'L2010_22', 'L2010_23',
       'L2010_24', 'L2010_25', 'L2010_26', 'L2010_27', 'L2010_28',
       'L2010_29', 'L2010_30', 'L2010_31', 'L2010_M_S']
LP_20_11 = LP_20_11[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_11.columns = ['cno', 'TYPE_2011', 'L2011_B_S', 'L2011_1', 'L2011_2',
       'L2011_3', 'L2011_4', 'L2011_5', 'L2011_6', 'L2011_7', 'L2011_8',
       'L2011_9', 'L2011_10', 'L2011_11', 'L2011_12', 'L2011_13',
       'L2011_14', 'L2011_15', 'L2011_16', 'L2011_17', 'L2011_18',
       'L2011_19', 'L2011_20', 'L2011_21', 'L2011_22', 'L2011_23',
       'L2011_24', 'L2011_25', 'L2011_26', 'L2011_27', 'L2011_28',
       'L2011_29', 'L2011_30', 'L2011_31', 'L2011_M_S']
LP_20_12 = LP_20_12[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_20_12.columns = ['cno', 'TYPE_2012', 'L2012_B_S', 'L2012_1', 'L2012_2',
       'L2012_3', 'L2012_4', 'L2012_5', 'L2012_6', 'L2012_7', 'L2012_8',
       'L2012_9', 'L2012_10', 'L2012_11', 'L2012_12', 'L2012_13',
       'L2012_14', 'L2012_15', 'L2012_16', 'L2012_17', 'L2012_18',
       'L2012_19', 'L2012_20', 'L2012_21', 'L2012_22', 'L2012_23',
       'L2012_24', 'L2012_25', 'L2012_26', 'L2012_27', 'L2012_28',
       'L2012_29', 'L2012_30', 'L2012_31', 'L2012_M_S']

In [11]:
LP_21_01 = LP_21_01[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_01.columns = ['cno', 'TYPE_2101', 'L2101_B_S', 'L2101_1', 'L2101_2',
       'L2101_3', 'L2101_4', 'L2101_5', 'L2101_6', 'L2101_7', 'L2101_8',
       'L2101_9', 'L2101_10', 'L2101_11', 'L2101_12', 'L2101_13',
       'L2101_14', 'L2101_15', 'L2101_16', 'L2101_17', 'L2101_18',
       'L2101_19', 'L2101_20', 'L2101_21', 'L2101_22', 'L2101_23',
       'L2101_24', 'L2101_25', 'L2101_26', 'L2101_27', 'L2101_28',
       'L2101_29', 'L2101_30', 'L2101_31', 'L2101_M_S']
LP_21_02 = LP_21_02[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_02.columns = ['cno', 'TYPE_2102', 'L2102_B_S', 'L2102_1', 'L2102_2',
       'L2102_3', 'L2102_4', 'L2102_5', 'L2102_6', 'L2102_7', 'L2102_8',
       'L2102_9', 'L2102_10', 'L2102_11', 'L2102_12', 'L2102_13',
       'L2102_14', 'L2102_15', 'L2102_16', 'L2102_17', 'L2102_18',
       'L2102_19', 'L2102_20', 'L2102_21', 'L2102_22', 'L2102_23',
       'L2102_24', 'L2102_25', 'L2102_26', 'L2102_27', 'L2102_28',
       'L2102_29', 'L2102_30', 'L2102_31', 'L2102_M_S']
LP_21_03 = LP_21_03[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_03.columns = ['cno', 'TYPE_2103', 'L2103_B_S', 'L2103_1', 'L2103_2',
       'L2103_3', 'L2103_4', 'L2103_5', 'L2103_6', 'L2103_7', 'L2103_8',
       'L2103_9', 'L2103_10', 'L2103_11', 'L2103_12', 'L2103_13',
       'L2103_14', 'L2103_15', 'L2103_16', 'L2103_17', 'L2103_18',
       'L2103_19', 'L2103_20', 'L2103_21', 'L2103_22', 'L2103_23',
       'L2103_24', 'L2103_25', 'L2103_26', 'L2103_27', 'L2103_28',
       'L2103_29', 'L2103_30', 'L2103_31', 'L2103_M_S']
LP_21_04 = LP_21_04[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_04.columns = ['cno', 'TYPE_2104', 'L2104_B_S', 'L2104_1', 'L2104_2',
       'L2104_3', 'L2104_4', 'L2104_5', 'L2104_6', 'L2104_7', 'L2104_8',
       'L2104_9', 'L2104_10', 'L2104_11', 'L2104_12', 'L2104_13',
       'L2104_14', 'L2104_15', 'L2104_16', 'L2104_17', 'L2104_18',
       'L2104_19', 'L2104_20', 'L2104_21', 'L2104_22', 'L2104_23',
       'L2104_24', 'L2104_25', 'L2104_26', 'L2104_27', 'L2104_28',
       'L2104_29', 'L2104_30', 'L2104_31', 'L2104_M_S']
LP_21_05 = LP_21_05[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_05.columns = ['cno', 'TYPE_2105', 'L2105_B_S', 'L2105_1', 'L2105_2',
       'L2105_3', 'L2105_4', 'L2105_5', 'L2105_6', 'L2105_7', 'L2105_8',
       'L2105_9', 'L2105_10', 'L2105_11', 'L2105_12', 'L2105_13',
       'L2105_14', 'L2105_15', 'L2105_16', 'L2105_17', 'L2105_18',
       'L2105_19', 'L2105_20', 'L2105_21', 'L2105_22', 'L2105_23',
       'L2105_24', 'L2105_25', 'L2105_26', 'L2105_27', 'L2105_28',
       'L2105_29', 'L2105_30', 'L2105_31', 'L2105_M_S']
LP_21_06 = LP_21_06[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_06.columns = ['cno', 'TYPE_2106', 'L2106_B_S', 'L2106_1', 'L2106_2',
       'L2106_3', 'L2106_4', 'L2106_5', 'L2106_6', 'L2106_7', 'L2106_8',
       'L2106_9', 'L2106_10', 'L2106_11', 'L2106_12', 'L2106_13',
       'L2106_14', 'L2106_15', 'L2106_16', 'L2106_17', 'L2106_18',
       'L2106_19', 'L2106_20', 'L2106_21', 'L2106_22', 'L2106_23',
       'L2106_24', 'L2106_25', 'L2106_26', 'L2106_27', 'L2106_28',
       'L2106_29', 'L2106_30', 'L2106_31', 'L2106_M_S']
LP_21_07 = LP_21_07[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_07.columns = ['cno', 'TYPE_2107', 'L2107_B_S', 'L2107_1', 'L2107_2',
       'L2107_3', 'L2107_4', 'L2107_5', 'L2107_6', 'L2107_7', 'L2107_8',
       'L2107_9', 'L2107_10', 'L2107_11', 'L2107_12', 'L2107_13',
       'L2107_14', 'L2107_15', 'L2107_16', 'L2107_17', 'L2107_18',
       'L2107_19', 'L2107_20', 'L2107_21', 'L2107_22', 'L2107_23',
       'L2107_24', 'L2107_25', 'L2107_26', 'L2107_27', 'L2107_28',
       'L2107_29', 'L2107_30', 'L2107_31', 'L2107_M_S']
LP_21_08 = LP_21_08[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_08.columns = ['cno', 'TYPE_2108', 'L2108_B_S', 'L2108_1', 'L2108_2',
       'L2108_3', 'L2108_4', 'L2108_5', 'L2108_6', 'L2108_7', 'L2108_8',
       'L2108_9', 'L2108_10', 'L2108_11', 'L2108_12', 'L2108_13',
       'L2108_14', 'L2108_15', 'L2108_16', 'L2108_17', 'L2108_18',
       'L2108_19', 'L2108_20', 'L2108_21', 'L2108_22', 'L2108_23',
       'L2108_24', 'L2108_25', 'L2108_26', 'L2108_27', 'L2108_28',
       'L2108_29', 'L2108_30', 'L2108_31', 'L2108_M_S']
LP_21_09 = LP_21_09[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_09.columns = ['cno', 'TYPE_2109', 'L2109_B_S', 'L2109_1', 'L2109_2',
       'L2109_3', 'L2109_4', 'L2109_5', 'L2109_6', 'L2109_7', 'L2109_8',
       'L2109_9', 'L2109_10', 'L2109_11', 'L2109_12', 'L2109_13',
       'L2109_14', 'L2109_15', 'L2109_16', 'L2109_17', 'L2109_18',
       'L2109_19', 'L2109_20', 'L2109_21', 'L2109_22', 'L2109_23',
       'L2109_24', 'L2109_25', 'L2109_26', 'L2109_27', 'L2109_28',
       'L2109_29', 'L2109_30', 'L2109_31', 'L2109_M_S']
LP_21_10 = LP_21_10[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_10.columns = ['cno', 'TYPE_2110', 'L2110_B_S', 'L2110_1', 'L2110_2',
       'L2110_3', 'L2110_4', 'L2110_5', 'L2110_6', 'L2110_7', 'L2110_8',
       'L2110_9', 'L2110_10', 'L2110_11', 'L2110_12', 'L2110_13',
       'L2110_14', 'L2110_15', 'L2110_16', 'L2110_17', 'L2110_18',
       'L2110_19', 'L2110_20', 'L2110_21', 'L2110_22', 'L2110_23',
       'L2110_24', 'L2110_25', 'L2110_26', 'L2110_27', 'L2110_28',
       'L2110_29', 'L2110_30', 'L2110_31', 'L2110_M_S']
LP_21_11 = LP_21_11[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_11.columns = ['cno', 'TYPE_2111', 'L2111_B_S', 'L2111_1', 'L2111_2',
       'L2111_3', 'L2111_4', 'L2111_5', 'L2111_6', 'L2111_7', 'L2111_8',
       'L2111_9', 'L2111_10', 'L2111_11', 'L2111_12', 'L2111_13',
       'L2111_14', 'L2111_15', 'L2111_16', 'L2111_17', 'L2111_18',
       'L2111_19', 'L2111_20', 'L2111_21', 'L2111_22', 'L2111_23',
       'L2111_24', 'L2111_25', 'L2111_26', 'L2111_27', 'L2111_28',
       'L2111_29', 'L2111_30', 'L2111_31', 'L2111_M_S']
LP_21_12 = LP_21_12[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_21_12.columns = ['cno', 'TYPE_2112', 'L2112_B_S', 'L2112_1', 'L2112_2',
       'L2112_3', 'L2112_4', 'L2112_5', 'L2112_6', 'L2112_7', 'L2112_8',
       'L2112_9', 'L2112_10', 'L2112_11', 'L2112_12', 'L2112_13',
       'L2112_14', 'L2112_15', 'L2112_16', 'L2112_17', 'L2112_18',
       'L2112_19', 'L2112_20', 'L2112_21', 'L2112_22', 'L2112_23',
       'L2112_24', 'L2112_25', 'L2112_26', 'L2112_27', 'L2112_28',
       'L2112_29', 'L2112_30', 'L2112_31', 'L2112_M_S']

In [12]:
LP_22_01 = LP_22_01[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_22_01.columns = ['cno', 'TYPE_2201', 'L2201_B_S', 'L2201_1', 'L2201_2',
       'L2201_3', 'L2201_4', 'L2201_5', 'L2201_6', 'L2201_7', 'L2201_8',
       'L2201_9', 'L2201_10', 'L2201_11', 'L2201_12', 'L2201_13',
       'L2201_14', 'L2201_15', 'L2201_16', 'L2201_17', 'L2201_18',
       'L2201_19', 'L2201_20', 'L2201_21', 'L2201_22', 'L2201_23',
       'L2201_24', 'L2201_25', 'L2201_26', 'L2201_27', 'L2201_28',
       'L2201_29', 'L2201_30', 'L2201_31', 'L2201_M_S']
LP_22_02 = LP_22_02[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_22_02.columns = ['cno', 'TYPE_2202', 'L2202_B_S', 'L2202_1', 'L2202_2',
       'L2202_3', 'L2202_4', 'L2202_5', 'L2202_6', 'L2202_7', 'L2202_8',
       'L2202_9', 'L2202_10', 'L2202_11', 'L2202_12', 'L2202_13',
       'L2202_14', 'L2202_15', 'L2202_16', 'L2202_17', 'L2202_18',
       'L2202_19', 'L2202_20', 'L2202_21', 'L2202_22', 'L2202_23',
       'L2202_24', 'L2202_25', 'L2202_26', 'L2202_27', 'L2202_28',
       'L2202_29', 'L2202_30', 'L2202_31', 'L2202_M_S']
LP_22_03 = LP_22_03[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_22_03.columns = ['cno', 'TYPE_2203', 'L2203_B_S', 'L2203_1', 'L2203_2',
       'L2203_3', 'L2203_4', 'L2203_5', 'L2203_6', 'L2203_7', 'L2203_8',
       'L2203_9', 'L2203_10', 'L2203_11', 'L2203_12', 'L2203_13',
       'L2203_14', 'L2203_15', 'L2203_16', 'L2203_17', 'L2203_18',
       'L2203_19', 'L2203_20', 'L2203_21', 'L2203_22', 'L2203_23',
       'L2203_24', 'L2203_25', 'L2203_26', 'L2203_27', 'L2203_28',
       'L2203_29', 'L2203_30', 'L2203_31', 'L2203_M_S']
LP_22_04 = LP_22_04[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_22_04.columns = ['cno', 'TYPE_2204', 'L2204_B_S', 'L2204_1', 'L2204_2',
       'L2204_3', 'L2204_4', 'L2204_5', 'L2204_6', 'L2204_7', 'L2204_8',
       'L2204_9', 'L2204_10', 'L2204_11', 'L2204_12', 'L2204_13',
       'L2204_14', 'L2204_15', 'L2204_16', 'L2204_17', 'L2204_18',
       'L2204_19', 'L2204_20', 'L2204_21', 'L2204_22', 'L2204_23',
       'L2204_24', 'L2204_25', 'L2204_26', 'L2204_27', 'L2204_28',
       'L2204_29', 'L2204_30', 'L2204_31', 'L2204_M_S']
LP_22_05 = LP_22_05[['고객번호', '인입망통신방식', '정기검침성공여부', '1일LP성공률', '2일LP성공률',
       '3일 LP성공률', '4일 LP성공률', '5일 LP성공률', '6일 LP성공률', '7일 LP성공률', '8일 LP성공률',
       '9일 LP성공률', '10일 LP성공률', '11일 LP성공률', '12일 LP성공률', '13일 LP성공률',
       '14일 LP성공률', '15일 LP성공률', '16일 LP성공률', '17일 LP성공률', '18일 LP성공률',
       '19일 LP성공률', '20일 LP성공률', '21일 LP성공률', '22일 LP성공률', '23일 LP성공률',
       '24일 LP성공률', '25일 LP성공률', '26일 LP성공률', '27일 LP성공률', '28일 LP성공률',
       '29일 LP성공률', '30일 LP성공률', '31일 LP성공률', '월평균 LP성공률']]
LP_22_05.columns = ['cno', 'TYPE_2205', 'L2205_B_S', 'L2205_1', 'L2205_2',
       'L2205_3', 'L2205_4', 'L2205_5', 'L2205_6', 'L2205_7', 'L2205_8',
       'L2205_9', 'L2205_10', 'L2205_11', 'L2205_12', 'L2205_13',
       'L2205_14', 'L2205_15', 'L2205_16', 'L2205_17', 'L2205_18',
       'L2205_19', 'L2205_20', 'L2205_21', 'L2205_22', 'L2205_23',
       'L2205_24', 'L2205_25', 'L2205_26', 'L2205_27', 'L2205_28',
       'L2205_29', 'L2205_30', 'L2205_31', 'L2205_M_S']

In [13]:
# 신호세기 데이터 사이즈 축소
RSRP_20_01 = RSRP_20_01[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_01.columns = ['cno', 'R2001_M_BPS_UP', 'R2001_D_BPS_UP', 'R2001_D_BPS_DOWN ']
RSRP_20_02 = RSRP_20_02[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_02.columns = ['cno', 'R2002_M_BPS_UP', 'R2002_D_BPS_UP', 'R2002_D_BPS_DOWN ']
RSRP_20_03 = RSRP_20_03[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_03.columns = ['cno', 'R2003_M_BPS_UP', 'R2003_D_BPS_UP', 'R2003_D_BPS_DOWN ']
RSRP_20_04 = RSRP_20_04[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_04.columns = ['cno', 'R2004_M_BPS_UP', 'R2004_D_BPS_UP', 'R2004_D_BPS_DOWN ']
RSRP_20_05 = RSRP_20_05[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_05.columns = ['cno', 'R2005_M_BPS_UP', 'R2005_D_BPS_UP', 'R2005_D_BPS_DOWN ']
RSRP_20_06 = RSRP_20_06[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_06.columns = ['cno', 'R2006_M_BPS_UP', 'R2006_D_BPS_UP', 'R2006_D_BPS_DOWN ']
RSRP_20_07 = RSRP_20_07[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_07.columns = ['cno', 'R2007_M_BPS_UP', 'R2007_D_BPS_UP', 'R2007_D_BPS_DOWN ']
RSRP_20_08 = RSRP_20_08[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_08.columns = ['cno', 'R2008_M_BPS_UP', 'R2008_D_BPS_UP', 'R2008_D_BPS_DOWN ']
RSRP_20_09 = RSRP_20_09[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_09.columns = ['cno', 'R2009_M_BPS_UP', 'R2009_D_BPS_UP', 'R2009_D_BPS_DOWN ']
RSRP_20_10 = RSRP_20_10[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_10.columns = ['cno', 'R2010_M_BPS_UP', 'R2010_D_BPS_UP', 'R2010_D_BPS_DOWN ']
RSRP_20_11 = RSRP_20_11[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_11.columns = ['cno', 'R2011_M_BPS_UP', 'R2011_D_BPS_UP', 'R2011_D_BPS_DOWN ']
RSRP_20_12 = RSRP_20_12[['고객번호', '모뎀BPS_UP', 'DCU_BPS_UP', 'DCU_BPS_DOWN ']]
RSRP_20_12.columns = ['cno', 'R2012_M_BPS_UP', 'R2012_D_BPS_UP', 'R2012_D_BPS_DOWN ']

In [14]:
# 병행검침 데이터 사이즈 축소

FIX_DT = FIX_DT[['고객번호','병행검침\n확정일', '원격검침 전환일']]
FIX_DT.columns = ['cno','B_DT','A_DT']

In [15]:
# Object Type -> Category Type 변경 (메모리 사용량 줄이기) / float64->float32
LP_20_01.loc[:,['L2001_1', 'L2001_2', 'L2001_3', 'L2001_4',
       'L2001_5', 'L2001_6', 'L2001_7', 'L2001_8', 'L2001_9', 'L2001_10',
       'L2001_11', 'L2001_12', 'L2001_13', 'L2001_14', 'L2001_15', 'L2001_16',
       'L2001_17', 'L2001_18', 'L2001_19', 'L2001_20', 'L2001_21', 'L2001_22',
       'L2001_23', 'L2001_24', 'L2001_25', 'L2001_26', 'L2001_27', 'L2001_28',
       'L2001_29', 'L2001_30', 'L2001_31', 'L2001_M_S']] = LP_20_01.loc[:,['L2001_1', 'L2001_2', 'L2001_3', 'L2001_4',
       'L2001_5', 'L2001_6', 'L2001_7', 'L2001_8', 'L2001_9', 'L2001_10',
       'L2001_11', 'L2001_12', 'L2001_13', 'L2001_14', 'L2001_15', 'L2001_16',
       'L2001_17', 'L2001_18', 'L2001_19', 'L2001_20', 'L2001_21', 'L2001_22',
       'L2001_23', 'L2001_24', 'L2001_25', 'L2001_26', 'L2001_27', 'L2001_28',
       'L2001_29', 'L2001_30', 'L2001_31', 'L2001_M_S']].astype('float32')
LP_20_01.loc[:,['TYPE_2001', 'L2001_B_S']] = LP_20_01.loc[:,['TYPE_2001', 'L2001_B_S']].astype('category')
LP_20_02.loc[:,['L2002_1', 'L2002_2', 'L2002_3', 'L2002_4',
       'L2002_5', 'L2002_6', 'L2002_7', 'L2002_8', 'L2002_9', 'L2002_10',
       'L2002_11', 'L2002_12', 'L2002_13', 'L2002_14', 'L2002_15', 'L2002_16',
       'L2002_17', 'L2002_18', 'L2002_19', 'L2002_20', 'L2002_21', 'L2002_22',
       'L2002_23', 'L2002_24', 'L2002_25', 'L2002_26', 'L2002_27', 'L2002_28',
       'L2002_29', 'L2002_30', 'L2002_31', 'L2002_M_S']] = LP_20_02.loc[:,['L2002_1', 'L2002_2', 'L2002_3', 'L2002_4',
       'L2002_5', 'L2002_6', 'L2002_7', 'L2002_8', 'L2002_9', 'L2002_10',
       'L2002_11', 'L2002_12', 'L2002_13', 'L2002_14', 'L2002_15', 'L2002_16',
       'L2002_17', 'L2002_18', 'L2002_19', 'L2002_20', 'L2002_21', 'L2002_22',
       'L2002_23', 'L2002_24', 'L2002_25', 'L2002_26', 'L2002_27', 'L2002_28',
       'L2002_29', 'L2002_30', 'L2002_31', 'L2002_M_S']].astype('float32')
LP_20_02.loc[:,['TYPE_2002', 'L2002_B_S']] = LP_20_02.loc[:,['TYPE_2002', 'L2002_B_S']].astype('category')
LP_20_03.loc[:,['L2003_1', 'L2003_2', 'L2003_3', 'L2003_4',
       'L2003_5', 'L2003_6', 'L2003_7', 'L2003_8', 'L2003_9', 'L2003_10',
       'L2003_11', 'L2003_12', 'L2003_13', 'L2003_14', 'L2003_15', 'L2003_16',
       'L2003_17', 'L2003_18', 'L2003_19', 'L2003_20', 'L2003_21', 'L2003_22',
       'L2003_23', 'L2003_24', 'L2003_25', 'L2003_26', 'L2003_27', 'L2003_28',
       'L2003_29', 'L2003_30', 'L2003_31', 'L2003_M_S']] = LP_20_03.loc[:,['L2003_1', 'L2003_2', 'L2003_3', 'L2003_4',
       'L2003_5', 'L2003_6', 'L2003_7', 'L2003_8', 'L2003_9', 'L2003_10',
       'L2003_11', 'L2003_12', 'L2003_13', 'L2003_14', 'L2003_15', 'L2003_16',
       'L2003_17', 'L2003_18', 'L2003_19', 'L2003_20', 'L2003_21', 'L2003_22',
       'L2003_23', 'L2003_24', 'L2003_25', 'L2003_26', 'L2003_27', 'L2003_28',
       'L2003_29', 'L2003_30', 'L2003_31', 'L2003_M_S']].astype('float32')
LP_20_03.loc[:,['TYPE_2003', 'L2003_B_S']] = LP_20_03.loc[:,['TYPE_2003', 'L2003_B_S']].astype('category')
LP_20_04.loc[:,['L2004_1', 'L2004_2', 'L2004_3', 'L2004_4',
       'L2004_5', 'L2004_6', 'L2004_7', 'L2004_8', 'L2004_9', 'L2004_10',
       'L2004_11', 'L2004_12', 'L2004_13', 'L2004_14', 'L2004_15', 'L2004_16',
       'L2004_17', 'L2004_18', 'L2004_19', 'L2004_20', 'L2004_21', 'L2004_22',
       'L2004_23', 'L2004_24', 'L2004_25', 'L2004_26', 'L2004_27', 'L2004_28',
       'L2004_29', 'L2004_30', 'L2004_31', 'L2004_M_S']] = LP_20_04.loc[:,['L2004_1', 'L2004_2', 'L2004_3', 'L2004_4',
       'L2004_5', 'L2004_6', 'L2004_7', 'L2004_8', 'L2004_9', 'L2004_10',
       'L2004_11', 'L2004_12', 'L2004_13', 'L2004_14', 'L2004_15', 'L2004_16',
       'L2004_17', 'L2004_18', 'L2004_19', 'L2004_20', 'L2004_21', 'L2004_22',
       'L2004_23', 'L2004_24', 'L2004_25', 'L2004_26', 'L2004_27', 'L2004_28',
       'L2004_29', 'L2004_30', 'L2004_31', 'L2004_M_S']].astype('float32')
LP_20_04.loc[:,['TYPE_2004', 'L2004_B_S']] = LP_20_04.loc[:,['TYPE_2004', 'L2004_B_S']].astype('category')
LP_20_05.loc[:,['L2005_1', 'L2005_2', 'L2005_3', 'L2005_4',
       'L2005_5', 'L2005_6', 'L2005_7', 'L2005_8', 'L2005_9', 'L2005_10',
       'L2005_11', 'L2005_12', 'L2005_13', 'L2005_14', 'L2005_15', 'L2005_16',
       'L2005_17', 'L2005_18', 'L2005_19', 'L2005_20', 'L2005_21', 'L2005_22',
       'L2005_23', 'L2005_24', 'L2005_25', 'L2005_26', 'L2005_27', 'L2005_28',
       'L2005_29', 'L2005_30', 'L2005_31', 'L2005_M_S']] = LP_20_05.loc[:,['L2005_1', 'L2005_2', 'L2005_3', 'L2005_4',
       'L2005_5', 'L2005_6', 'L2005_7', 'L2005_8', 'L2005_9', 'L2005_10',
       'L2005_11', 'L2005_12', 'L2005_13', 'L2005_14', 'L2005_15', 'L2005_16',
       'L2005_17', 'L2005_18', 'L2005_19', 'L2005_20', 'L2005_21', 'L2005_22',
       'L2005_23', 'L2005_24', 'L2005_25', 'L2005_26', 'L2005_27', 'L2005_28',
       'L2005_29', 'L2005_30', 'L2005_31', 'L2005_M_S']].astype('float32')
LP_20_05.loc[:,['TYPE_2005', 'L2005_B_S']] = LP_20_05.loc[:,['TYPE_2005', 'L2005_B_S']].astype('category')
LP_20_06.loc[:,['L2006_1', 'L2006_2', 'L2006_3', 'L2006_4',
       'L2006_5', 'L2006_6', 'L2006_7', 'L2006_8', 'L2006_9', 'L2006_10',
       'L2006_11', 'L2006_12', 'L2006_13', 'L2006_14', 'L2006_15', 'L2006_16',
       'L2006_17', 'L2006_18', 'L2006_19', 'L2006_20', 'L2006_21', 'L2006_22',
       'L2006_23', 'L2006_24', 'L2006_25', 'L2006_26', 'L2006_27', 'L2006_28',
       'L2006_29', 'L2006_30', 'L2006_31', 'L2006_M_S']] = LP_20_06.loc[:,['L2006_1', 'L2006_2', 'L2006_3', 'L2006_4',
       'L2006_5', 'L2006_6', 'L2006_7', 'L2006_8', 'L2006_9', 'L2006_10',
       'L2006_11', 'L2006_12', 'L2006_13', 'L2006_14', 'L2006_15', 'L2006_16',
       'L2006_17', 'L2006_18', 'L2006_19', 'L2006_20', 'L2006_21', 'L2006_22',
       'L2006_23', 'L2006_24', 'L2006_25', 'L2006_26', 'L2006_27', 'L2006_28',
       'L2006_29', 'L2006_30', 'L2006_31', 'L2006_M_S']].astype('float32')
LP_20_06.loc[:,['TYPE_2006', 'L2006_B_S']] = LP_20_06.loc[:,['TYPE_2006', 'L2006_B_S']].astype('category')
LP_20_07.loc[:,['L2007_1', 'L2007_2', 'L2007_3', 'L2007_4',
       'L2007_5', 'L2007_6', 'L2007_7', 'L2007_8', 'L2007_9', 'L2007_10',
       'L2007_11', 'L2007_12', 'L2007_13', 'L2007_14', 'L2007_15', 'L2007_16',
       'L2007_17', 'L2007_18', 'L2007_19', 'L2007_20', 'L2007_21', 'L2007_22',
       'L2007_23', 'L2007_24', 'L2007_25', 'L2007_26', 'L2007_27', 'L2007_28',
       'L2007_29', 'L2007_30', 'L2007_31', 'L2007_M_S']] = LP_20_07.loc[:,['L2007_1', 'L2007_2', 'L2007_3', 'L2007_4',
       'L2007_5', 'L2007_6', 'L2007_7', 'L2007_8', 'L2007_9', 'L2007_10',
       'L2007_11', 'L2007_12', 'L2007_13', 'L2007_14', 'L2007_15', 'L2007_16',
       'L2007_17', 'L2007_18', 'L2007_19', 'L2007_20', 'L2007_21', 'L2007_22',
       'L2007_23', 'L2007_24', 'L2007_25', 'L2007_26', 'L2007_27', 'L2007_28',
       'L2007_29', 'L2007_30', 'L2007_31', 'L2007_M_S']].astype('float32')
LP_20_07.loc[:,['TYPE_2007', 'L2007_B_S']] = LP_20_07.loc[:,['TYPE_2007', 'L2007_B_S']].astype('category')
LP_20_08.loc[:,['L2008_1', 'L2008_2', 'L2008_3', 'L2008_4',
       'L2008_5', 'L2008_6', 'L2008_7', 'L2008_8', 'L2008_9', 'L2008_10',
       'L2008_11', 'L2008_12', 'L2008_13', 'L2008_14', 'L2008_15', 'L2008_16',
       'L2008_17', 'L2008_18', 'L2008_19', 'L2008_20', 'L2008_21', 'L2008_22',
       'L2008_23', 'L2008_24', 'L2008_25', 'L2008_26', 'L2008_27', 'L2008_28',
       'L2008_29', 'L2008_30', 'L2008_31', 'L2008_M_S']] = LP_20_08.loc[:,['L2008_1', 'L2008_2', 'L2008_3', 'L2008_4',
       'L2008_5', 'L2008_6', 'L2008_7', 'L2008_8', 'L2008_9', 'L2008_10',
       'L2008_11', 'L2008_12', 'L2008_13', 'L2008_14', 'L2008_15', 'L2008_16',
       'L2008_17', 'L2008_18', 'L2008_19', 'L2008_20', 'L2008_21', 'L2008_22',
       'L2008_23', 'L2008_24', 'L2008_25', 'L2008_26', 'L2008_27', 'L2008_28',
       'L2008_29', 'L2008_30', 'L2008_31', 'L2008_M_S']].astype('float32')
LP_20_08.loc[:,['TYPE_2008', 'L2008_B_S']] = LP_20_08.loc[:,['TYPE_2008', 'L2008_B_S']].astype('category')
LP_20_09.loc[:,['L2009_1', 'L2009_2', 'L2009_3', 'L2009_4',
       'L2009_5', 'L2009_6', 'L2009_7', 'L2009_8', 'L2009_9', 'L2009_10',
       'L2009_11', 'L2009_12', 'L2009_13', 'L2009_14', 'L2009_15', 'L2009_16',
       'L2009_17', 'L2009_18', 'L2009_19', 'L2009_20', 'L2009_21', 'L2009_22',
       'L2009_23', 'L2009_24', 'L2009_25', 'L2009_26', 'L2009_27', 'L2009_28',
       'L2009_29', 'L2009_30', 'L2009_31', 'L2009_M_S']] = LP_20_09.loc[:,['L2009_1', 'L2009_2', 'L2009_3', 'L2009_4',
       'L2009_5', 'L2009_6', 'L2009_7', 'L2009_8', 'L2009_9', 'L2009_10',
       'L2009_11', 'L2009_12', 'L2009_13', 'L2009_14', 'L2009_15', 'L2009_16',
       'L2009_17', 'L2009_18', 'L2009_19', 'L2009_20', 'L2009_21', 'L2009_22',
       'L2009_23', 'L2009_24', 'L2009_25', 'L2009_26', 'L2009_27', 'L2009_28',
       'L2009_29', 'L2009_30', 'L2009_31', 'L2009_M_S']].astype('float32')
LP_20_09.loc[:,['TYPE_2009', 'L2009_B_S']] = LP_20_09.loc[:,['TYPE_2009', 'L2009_B_S']].astype('category')
LP_20_10.loc[:,['L2010_1', 'L2010_2', 'L2010_3', 'L2010_4',
       'L2010_5', 'L2010_6', 'L2010_7', 'L2010_8', 'L2010_9', 'L2010_10',
       'L2010_11', 'L2010_12', 'L2010_13', 'L2010_14', 'L2010_15', 'L2010_16',
       'L2010_17', 'L2010_18', 'L2010_19', 'L2010_20', 'L2010_21', 'L2010_22',
       'L2010_23', 'L2010_24', 'L2010_25', 'L2010_26', 'L2010_27', 'L2010_28',
       'L2010_29', 'L2010_30', 'L2010_31', 'L2010_M_S']] = LP_20_10.loc[:,['L2010_1', 'L2010_2', 'L2010_3', 'L2010_4',
       'L2010_5', 'L2010_6', 'L2010_7', 'L2010_8', 'L2010_9', 'L2010_10',
       'L2010_11', 'L2010_12', 'L2010_13', 'L2010_14', 'L2010_15', 'L2010_16',
       'L2010_17', 'L2010_18', 'L2010_19', 'L2010_20', 'L2010_21', 'L2010_22',
       'L2010_23', 'L2010_24', 'L2010_25', 'L2010_26', 'L2010_27', 'L2010_28',
       'L2010_29', 'L2010_30', 'L2010_31', 'L2010_M_S']].astype('float32')
LP_20_10.loc[:,['TYPE_2010', 'L2010_B_S']] = LP_20_10.loc[:,['TYPE_2010', 'L2010_B_S']].astype('category')
LP_20_11.loc[:,['L2011_1', 'L2011_2', 'L2011_3', 'L2011_4',
       'L2011_5', 'L2011_6', 'L2011_7', 'L2011_8', 'L2011_9', 'L2011_10',
       'L2011_11', 'L2011_12', 'L2011_13', 'L2011_14', 'L2011_15', 'L2011_16',
       'L2011_17', 'L2011_18', 'L2011_19', 'L2011_20', 'L2011_21', 'L2011_22',
       'L2011_23', 'L2011_24', 'L2011_25', 'L2011_26', 'L2011_27', 'L2011_28',
       'L2011_29', 'L2011_30', 'L2011_31', 'L2011_M_S']] = LP_20_11.loc[:,['L2011_1', 'L2011_2', 'L2011_3', 'L2011_4',
       'L2011_5', 'L2011_6', 'L2011_7', 'L2011_8', 'L2011_9', 'L2011_10',
       'L2011_11', 'L2011_12', 'L2011_13', 'L2011_14', 'L2011_15', 'L2011_16',
       'L2011_17', 'L2011_18', 'L2011_19', 'L2011_20', 'L2011_21', 'L2011_22',
       'L2011_23', 'L2011_24', 'L2011_25', 'L2011_26', 'L2011_27', 'L2011_28',
       'L2011_29', 'L2011_30', 'L2011_31', 'L2011_M_S']].astype('float32')
LP_20_11.loc[:,['TYPE_2011', 'L2011_B_S']] = LP_20_11.loc[:,['TYPE_2011', 'L2011_B_S']].astype('category')
LP_20_12.loc[:,['L2012_1', 'L2012_2', 'L2012_3', 'L2012_4',
       'L2012_5', 'L2012_6', 'L2012_7', 'L2012_8', 'L2012_9', 'L2012_10',
       'L2012_11', 'L2012_12', 'L2012_13', 'L2012_14', 'L2012_15', 'L2012_16',
       'L2012_17', 'L2012_18', 'L2012_19', 'L2012_20', 'L2012_21', 'L2012_22',
       'L2012_23', 'L2012_24', 'L2012_25', 'L2012_26', 'L2012_27', 'L2012_28',
       'L2012_29', 'L2012_30', 'L2012_31', 'L2012_M_S']] = LP_20_12.loc[:,['L2012_1', 'L2012_2', 'L2012_3', 'L2012_4',
       'L2012_5', 'L2012_6', 'L2012_7', 'L2012_8', 'L2012_9', 'L2012_10',
       'L2012_11', 'L2012_12', 'L2012_13', 'L2012_14', 'L2012_15', 'L2012_16',
       'L2012_17', 'L2012_18', 'L2012_19', 'L2012_20', 'L2012_21', 'L2012_22',
       'L2012_23', 'L2012_24', 'L2012_25', 'L2012_26', 'L2012_27', 'L2012_28',
       'L2012_29', 'L2012_30', 'L2012_31', 'L2012_M_S']].astype('float32')
LP_20_12.loc[:,['TYPE_2012', 'L2012_B_S']] = LP_20_12.loc[:,['TYPE_2012', 'L2012_B_S']].astype('category')

In [16]:
# Object Type -> Category Type 변경 (메모리 사용량 줄이기) / float64->float32
LP_21_01.loc[:,['L2101_1', 'L2101_2', 'L2101_3', 'L2101_4',
       'L2101_5', 'L2101_6', 'L2101_7', 'L2101_8', 'L2101_9', 'L2101_10',
       'L2101_11', 'L2101_12', 'L2101_13', 'L2101_14', 'L2101_15', 'L2101_16',
       'L2101_17', 'L2101_18', 'L2101_19', 'L2101_20', 'L2101_21', 'L2101_22',
       'L2101_23', 'L2101_24', 'L2101_25', 'L2101_26', 'L2101_27', 'L2101_28',
       'L2101_29', 'L2101_30', 'L2101_31', 'L2101_M_S']] = LP_21_01.loc[:,['L2101_1', 'L2101_2', 'L2101_3', 'L2101_4',
       'L2101_5', 'L2101_6', 'L2101_7', 'L2101_8', 'L2101_9', 'L2101_10',
       'L2101_11', 'L2101_12', 'L2101_13', 'L2101_14', 'L2101_15', 'L2101_16',
       'L2101_17', 'L2101_18', 'L2101_19', 'L2101_20', 'L2101_21', 'L2101_22',
       'L2101_23', 'L2101_24', 'L2101_25', 'L2101_26', 'L2101_27', 'L2101_28',
       'L2101_29', 'L2101_30', 'L2101_31', 'L2101_M_S']].astype('float32')
LP_21_01.loc[:,['TYPE_2101', 'L2101_B_S']] = LP_21_01.loc[:,['TYPE_2101', 'L2101_B_S']].astype('category')
LP_21_02.loc[:,['L2102_1', 'L2102_2', 'L2102_3', 'L2102_4',
       'L2102_5', 'L2102_6', 'L2102_7', 'L2102_8', 'L2102_9', 'L2102_10',
       'L2102_11', 'L2102_12', 'L2102_13', 'L2102_14', 'L2102_15', 'L2102_16',
       'L2102_17', 'L2102_18', 'L2102_19', 'L2102_20', 'L2102_21', 'L2102_22',
       'L2102_23', 'L2102_24', 'L2102_25', 'L2102_26', 'L2102_27', 'L2102_28',
       'L2102_29', 'L2102_30', 'L2102_31', 'L2102_M_S']] = LP_21_02.loc[:,['L2102_1', 'L2102_2', 'L2102_3', 'L2102_4',
       'L2102_5', 'L2102_6', 'L2102_7', 'L2102_8', 'L2102_9', 'L2102_10',
       'L2102_11', 'L2102_12', 'L2102_13', 'L2102_14', 'L2102_15', 'L2102_16',
       'L2102_17', 'L2102_18', 'L2102_19', 'L2102_20', 'L2102_21', 'L2102_22',
       'L2102_23', 'L2102_24', 'L2102_25', 'L2102_26', 'L2102_27', 'L2102_28',
       'L2102_29', 'L2102_30', 'L2102_31', 'L2102_M_S']].astype('float32')
LP_21_02.loc[:,['TYPE_2102', 'L2102_B_S']] = LP_21_02.loc[:,['TYPE_2102', 'L2102_B_S']].astype('category')
LP_21_03.loc[:,['L2103_1', 'L2103_2', 'L2103_3', 'L2103_4',
       'L2103_5', 'L2103_6', 'L2103_7', 'L2103_8', 'L2103_9', 'L2103_10',
       'L2103_11', 'L2103_12', 'L2103_13', 'L2103_14', 'L2103_15', 'L2103_16',
       'L2103_17', 'L2103_18', 'L2103_19', 'L2103_20', 'L2103_21', 'L2103_22',
       'L2103_23', 'L2103_24', 'L2103_25', 'L2103_26', 'L2103_27', 'L2103_28',
       'L2103_29', 'L2103_30', 'L2103_31', 'L2103_M_S']] = LP_21_03.loc[:,['L2103_1', 'L2103_2', 'L2103_3', 'L2103_4',
       'L2103_5', 'L2103_6', 'L2103_7', 'L2103_8', 'L2103_9', 'L2103_10',
       'L2103_11', 'L2103_12', 'L2103_13', 'L2103_14', 'L2103_15', 'L2103_16',
       'L2103_17', 'L2103_18', 'L2103_19', 'L2103_20', 'L2103_21', 'L2103_22',
       'L2103_23', 'L2103_24', 'L2103_25', 'L2103_26', 'L2103_27', 'L2103_28',
       'L2103_29', 'L2103_30', 'L2103_31', 'L2103_M_S']].astype('float32')
LP_21_03.loc[:,['TYPE_2103', 'L2103_B_S']] = LP_21_03.loc[:,['TYPE_2103', 'L2103_B_S']].astype('category')
LP_21_04.loc[:,['L2104_1', 'L2104_2', 'L2104_3', 'L2104_4',
       'L2104_5', 'L2104_6', 'L2104_7', 'L2104_8', 'L2104_9', 'L2104_10',
       'L2104_11', 'L2104_12', 'L2104_13', 'L2104_14', 'L2104_15', 'L2104_16',
       'L2104_17', 'L2104_18', 'L2104_19', 'L2104_20', 'L2104_21', 'L2104_22',
       'L2104_23', 'L2104_24', 'L2104_25', 'L2104_26', 'L2104_27', 'L2104_28',
       'L2104_29', 'L2104_30', 'L2104_31', 'L2104_M_S']] = LP_21_04.loc[:,['L2104_1', 'L2104_2', 'L2104_3', 'L2104_4',
       'L2104_5', 'L2104_6', 'L2104_7', 'L2104_8', 'L2104_9', 'L2104_10',
       'L2104_11', 'L2104_12', 'L2104_13', 'L2104_14', 'L2104_15', 'L2104_16',
       'L2104_17', 'L2104_18', 'L2104_19', 'L2104_20', 'L2104_21', 'L2104_22',
       'L2104_23', 'L2104_24', 'L2104_25', 'L2104_26', 'L2104_27', 'L2104_28',
       'L2104_29', 'L2104_30', 'L2104_31', 'L2104_M_S']].astype('float32')
LP_21_04.loc[:,['TYPE_2104', 'L2104_B_S']] = LP_21_04.loc[:,['TYPE_2104', 'L2104_B_S']].astype('category')
LP_21_05.loc[:,['L2105_1', 'L2105_2', 'L2105_3', 'L2105_4',
       'L2105_5', 'L2105_6', 'L2105_7', 'L2105_8', 'L2105_9', 'L2105_10',
       'L2105_11', 'L2105_12', 'L2105_13', 'L2105_14', 'L2105_15', 'L2105_16',
       'L2105_17', 'L2105_18', 'L2105_19', 'L2105_20', 'L2105_21', 'L2105_22',
       'L2105_23', 'L2105_24', 'L2105_25', 'L2105_26', 'L2105_27', 'L2105_28',
       'L2105_29', 'L2105_30', 'L2105_31', 'L2105_M_S']] = LP_21_05.loc[:,['L2105_1', 'L2105_2', 'L2105_3', 'L2105_4',
       'L2105_5', 'L2105_6', 'L2105_7', 'L2105_8', 'L2105_9', 'L2105_10',
       'L2105_11', 'L2105_12', 'L2105_13', 'L2105_14', 'L2105_15', 'L2105_16',
       'L2105_17', 'L2105_18', 'L2105_19', 'L2105_20', 'L2105_21', 'L2105_22',
       'L2105_23', 'L2105_24', 'L2105_25', 'L2105_26', 'L2105_27', 'L2105_28',
       'L2105_29', 'L2105_30', 'L2105_31', 'L2105_M_S']].astype('float32')
LP_21_05.loc[:,['TYPE_2105', 'L2105_B_S']] = LP_21_05.loc[:,['TYPE_2105', 'L2105_B_S']].astype('category')
LP_21_06.loc[:,['L2106_1', 'L2106_2', 'L2106_3', 'L2106_4',
       'L2106_5', 'L2106_6', 'L2106_7', 'L2106_8', 'L2106_9', 'L2106_10',
       'L2106_11', 'L2106_12', 'L2106_13', 'L2106_14', 'L2106_15', 'L2106_16',
       'L2106_17', 'L2106_18', 'L2106_19', 'L2106_20', 'L2106_21', 'L2106_22',
       'L2106_23', 'L2106_24', 'L2106_25', 'L2106_26', 'L2106_27', 'L2106_28',
       'L2106_29', 'L2106_30', 'L2106_31', 'L2106_M_S']] = LP_21_06.loc[:,['L2106_1', 'L2106_2', 'L2106_3', 'L2106_4',
       'L2106_5', 'L2106_6', 'L2106_7', 'L2106_8', 'L2106_9', 'L2106_10',
       'L2106_11', 'L2106_12', 'L2106_13', 'L2106_14', 'L2106_15', 'L2106_16',
       'L2106_17', 'L2106_18', 'L2106_19', 'L2106_20', 'L2106_21', 'L2106_22',
       'L2106_23', 'L2106_24', 'L2106_25', 'L2106_26', 'L2106_27', 'L2106_28',
       'L2106_29', 'L2106_30', 'L2106_31', 'L2106_M_S']].astype('float32')
LP_21_06.loc[:,['TYPE_2106', 'L2106_B_S']] = LP_21_06.loc[:,['TYPE_2106', 'L2106_B_S']].astype('category')
LP_21_07.loc[:,['L2107_1', 'L2107_2', 'L2107_3', 'L2107_4',
       'L2107_5', 'L2107_6', 'L2107_7', 'L2107_8', 'L2107_9', 'L2107_10',
       'L2107_11', 'L2107_12', 'L2107_13', 'L2107_14', 'L2107_15', 'L2107_16',
       'L2107_17', 'L2107_18', 'L2107_19', 'L2107_20', 'L2107_21', 'L2107_22',
       'L2107_23', 'L2107_24', 'L2107_25', 'L2107_26', 'L2107_27', 'L2107_28',
       'L2107_29', 'L2107_30', 'L2107_31', 'L2107_M_S']] = LP_21_07.loc[:,['L2107_1', 'L2107_2', 'L2107_3', 'L2107_4',
       'L2107_5', 'L2107_6', 'L2107_7', 'L2107_8', 'L2107_9', 'L2107_10',
       'L2107_11', 'L2107_12', 'L2107_13', 'L2107_14', 'L2107_15', 'L2107_16',
       'L2107_17', 'L2107_18', 'L2107_19', 'L2107_20', 'L2107_21', 'L2107_22',
       'L2107_23', 'L2107_24', 'L2107_25', 'L2107_26', 'L2107_27', 'L2107_28',
       'L2107_29', 'L2107_30', 'L2107_31', 'L2107_M_S']].astype('float32')
LP_21_07.loc[:,['TYPE_2107', 'L2107_B_S']] = LP_21_07.loc[:,['TYPE_2107', 'L2107_B_S']].astype('category')
LP_21_08.loc[:,['L2108_1', 'L2108_2', 'L2108_3', 'L2108_4',
       'L2108_5', 'L2108_6', 'L2108_7', 'L2108_8', 'L2108_9', 'L2108_10',
       'L2108_11', 'L2108_12', 'L2108_13', 'L2108_14', 'L2108_15', 'L2108_16',
       'L2108_17', 'L2108_18', 'L2108_19', 'L2108_20', 'L2108_21', 'L2108_22',
       'L2108_23', 'L2108_24', 'L2108_25', 'L2108_26', 'L2108_27', 'L2108_28',
       'L2108_29', 'L2108_30', 'L2108_31', 'L2108_M_S']] = LP_21_08.loc[:,['L2108_1', 'L2108_2', 'L2108_3', 'L2108_4',
       'L2108_5', 'L2108_6', 'L2108_7', 'L2108_8', 'L2108_9', 'L2108_10',
       'L2108_11', 'L2108_12', 'L2108_13', 'L2108_14', 'L2108_15', 'L2108_16',
       'L2108_17', 'L2108_18', 'L2108_19', 'L2108_20', 'L2108_21', 'L2108_22',
       'L2108_23', 'L2108_24', 'L2108_25', 'L2108_26', 'L2108_27', 'L2108_28',
       'L2108_29', 'L2108_30', 'L2108_31', 'L2108_M_S']].astype('float32')
LP_21_08.loc[:,['TYPE_2108', 'L2108_B_S']] = LP_21_08.loc[:,['TYPE_2108', 'L2108_B_S']].astype('category')
LP_21_09.loc[:,['L2109_1', 'L2109_2', 'L2109_3', 'L2109_4',
       'L2109_5', 'L2109_6', 'L2109_7', 'L2109_8', 'L2109_9', 'L2109_10',
       'L2109_11', 'L2109_12', 'L2109_13', 'L2109_14', 'L2109_15', 'L2109_16',
       'L2109_17', 'L2109_18', 'L2109_19', 'L2109_20', 'L2109_21', 'L2109_22',
       'L2109_23', 'L2109_24', 'L2109_25', 'L2109_26', 'L2109_27', 'L2109_28',
       'L2109_29', 'L2109_30', 'L2109_31', 'L2109_M_S']] = LP_21_09.loc[:,['L2109_1', 'L2109_2', 'L2109_3', 'L2109_4',
       'L2109_5', 'L2109_6', 'L2109_7', 'L2109_8', 'L2109_9', 'L2109_10',
       'L2109_11', 'L2109_12', 'L2109_13', 'L2109_14', 'L2109_15', 'L2109_16',
       'L2109_17', 'L2109_18', 'L2109_19', 'L2109_20', 'L2109_21', 'L2109_22',
       'L2109_23', 'L2109_24', 'L2109_25', 'L2109_26', 'L2109_27', 'L2109_28',
       'L2109_29', 'L2109_30', 'L2109_31', 'L2109_M_S']].astype('float32')
LP_21_09.loc[:,['TYPE_2109', 'L2109_B_S']] = LP_21_09.loc[:,['TYPE_2109', 'L2109_B_S']].astype('category')
LP_21_10.loc[:,['L2110_1', 'L2110_2', 'L2110_3', 'L2110_4',
       'L2110_5', 'L2110_6', 'L2110_7', 'L2110_8', 'L2110_9', 'L2110_10',
       'L2110_11', 'L2110_12', 'L2110_13', 'L2110_14', 'L2110_15', 'L2110_16',
       'L2110_17', 'L2110_18', 'L2110_19', 'L2110_20', 'L2110_21', 'L2110_22',
       'L2110_23', 'L2110_24', 'L2110_25', 'L2110_26', 'L2110_27', 'L2110_28',
       'L2110_29', 'L2110_30', 'L2110_31', 'L2110_M_S']] = LP_21_10.loc[:,['L2110_1', 'L2110_2', 'L2110_3', 'L2110_4',
       'L2110_5', 'L2110_6', 'L2110_7', 'L2110_8', 'L2110_9', 'L2110_10',
       'L2110_11', 'L2110_12', 'L2110_13', 'L2110_14', 'L2110_15', 'L2110_16',
       'L2110_17', 'L2110_18', 'L2110_19', 'L2110_20', 'L2110_21', 'L2110_22',
       'L2110_23', 'L2110_24', 'L2110_25', 'L2110_26', 'L2110_27', 'L2110_28',
       'L2110_29', 'L2110_30', 'L2110_31', 'L2110_M_S']].astype('float32')
LP_21_10.loc[:,['TYPE_2110', 'L2110_B_S']] = LP_21_10.loc[:,['TYPE_2110', 'L2110_B_S']].astype('category')
LP_21_11.loc[:,['L2111_1', 'L2111_2', 'L2111_3', 'L2111_4',
       'L2111_5', 'L2111_6', 'L2111_7', 'L2111_8', 'L2111_9', 'L2111_10',
       'L2111_11', 'L2111_12', 'L2111_13', 'L2111_14', 'L2111_15', 'L2111_16',
       'L2111_17', 'L2111_18', 'L2111_19', 'L2111_20', 'L2111_21', 'L2111_22',
       'L2111_23', 'L2111_24', 'L2111_25', 'L2111_26', 'L2111_27', 'L2111_28',
       'L2111_29', 'L2111_30', 'L2111_31', 'L2111_M_S']] = LP_21_11.loc[:,['L2111_1', 'L2111_2', 'L2111_3', 'L2111_4',
       'L2111_5', 'L2111_6', 'L2111_7', 'L2111_8', 'L2111_9', 'L2111_10',
       'L2111_11', 'L2111_12', 'L2111_13', 'L2111_14', 'L2111_15', 'L2111_16',
       'L2111_17', 'L2111_18', 'L2111_19', 'L2111_20', 'L2111_21', 'L2111_22',
       'L2111_23', 'L2111_24', 'L2111_25', 'L2111_26', 'L2111_27', 'L2111_28',
       'L2111_29', 'L2111_30', 'L2111_31', 'L2111_M_S']].astype('float32')
LP_21_11.loc[:,['TYPE_2111', 'L2111_B_S']] = LP_21_11.loc[:,['TYPE_2111', 'L2111_B_S']].astype('category')
LP_21_12.loc[:,['L2112_1', 'L2112_2', 'L2112_3', 'L2112_4',
       'L2112_5', 'L2112_6', 'L2112_7', 'L2112_8', 'L2112_9', 'L2112_10',
       'L2112_11', 'L2112_12', 'L2112_13', 'L2112_14', 'L2112_15', 'L2112_16',
       'L2112_17', 'L2112_18', 'L2112_19', 'L2112_20', 'L2112_21', 'L2112_22',
       'L2112_23', 'L2112_24', 'L2112_25', 'L2112_26', 'L2112_27', 'L2112_28',
       'L2112_29', 'L2112_30', 'L2112_31', 'L2112_M_S']] = LP_21_12.loc[:,['L2112_1', 'L2112_2', 'L2112_3', 'L2112_4',
       'L2112_5', 'L2112_6', 'L2112_7', 'L2112_8', 'L2112_9', 'L2112_10',
       'L2112_11', 'L2112_12', 'L2112_13', 'L2112_14', 'L2112_15', 'L2112_16',
       'L2112_17', 'L2112_18', 'L2112_19', 'L2112_20', 'L2112_21', 'L2112_22',
       'L2112_23', 'L2112_24', 'L2112_25', 'L2112_26', 'L2112_27', 'L2112_28',
       'L2112_29', 'L2112_30', 'L2112_31', 'L2112_M_S']].astype('float32')
LP_21_12.loc[:,['TYPE_2112', 'L2112_B_S']] = LP_21_12.loc[:,['TYPE_2112', 'L2112_B_S']].astype('category')

In [17]:
# Object Type -> Category Type 변경 (메모리 사용량 줄이기) / float64->float32
LP_22_01.loc[:,['L2201_1', 'L2201_2', 'L2201_3', 'L2201_4',
       'L2201_5', 'L2201_6', 'L2201_7', 'L2201_8', 'L2201_9', 'L2201_10',
       'L2201_11', 'L2201_12', 'L2201_13', 'L2201_14', 'L2201_15', 'L2201_16',
       'L2201_17', 'L2201_18', 'L2201_19', 'L2201_20', 'L2201_21', 'L2201_22',
       'L2201_23', 'L2201_24', 'L2201_25', 'L2201_26', 'L2201_27', 'L2201_28',
       'L2201_29', 'L2201_30', 'L2201_31', 'L2201_M_S']] = LP_22_01.loc[:,['L2201_1', 'L2201_2', 'L2201_3', 'L2201_4',
       'L2201_5', 'L2201_6', 'L2201_7', 'L2201_8', 'L2201_9', 'L2201_10',
       'L2201_11', 'L2201_12', 'L2201_13', 'L2201_14', 'L2201_15', 'L2201_16',
       'L2201_17', 'L2201_18', 'L2201_19', 'L2201_20', 'L2201_21', 'L2201_22',
       'L2201_23', 'L2201_24', 'L2201_25', 'L2201_26', 'L2201_27', 'L2201_28',
       'L2201_29', 'L2201_30', 'L2201_31', 'L2201_M_S']].astype('float32')
LP_22_01.loc[:,['TYPE_2201', 'L2201_B_S']] = LP_22_01.loc[:,['TYPE_2201', 'L2201_B_S']].astype('category')
LP_22_02.loc[:,['L2202_1', 'L2202_2', 'L2202_3', 'L2202_4',
       'L2202_5', 'L2202_6', 'L2202_7', 'L2202_8', 'L2202_9', 'L2202_10',
       'L2202_11', 'L2202_12', 'L2202_13', 'L2202_14', 'L2202_15', 'L2202_16',
       'L2202_17', 'L2202_18', 'L2202_19', 'L2202_20', 'L2202_21', 'L2202_22',
       'L2202_23', 'L2202_24', 'L2202_25', 'L2202_26', 'L2202_27', 'L2202_28',
       'L2202_29', 'L2202_30', 'L2202_31', 'L2202_M_S']] = LP_22_02.loc[:,['L2202_1', 'L2202_2', 'L2202_3', 'L2202_4',
       'L2202_5', 'L2202_6', 'L2202_7', 'L2202_8', 'L2202_9', 'L2202_10',
       'L2202_11', 'L2202_12', 'L2202_13', 'L2202_14', 'L2202_15', 'L2202_16',
       'L2202_17', 'L2202_18', 'L2202_19', 'L2202_20', 'L2202_21', 'L2202_22',
       'L2202_23', 'L2202_24', 'L2202_25', 'L2202_26', 'L2202_27', 'L2202_28',
       'L2202_29', 'L2202_30', 'L2202_31', 'L2202_M_S']].astype('float32')
LP_22_02.loc[:,['TYPE_2202', 'L2202_B_S']] = LP_22_02.loc[:,['TYPE_2202', 'L2202_B_S']].astype('category')
LP_22_03.loc[:,['L2203_1', 'L2203_2', 'L2203_3', 'L2203_4',
       'L2203_5', 'L2203_6', 'L2203_7', 'L2203_8', 'L2203_9', 'L2203_10',
       'L2203_11', 'L2203_12', 'L2203_13', 'L2203_14', 'L2203_15', 'L2203_16',
       'L2203_17', 'L2203_18', 'L2203_19', 'L2203_20', 'L2203_21', 'L2203_22',
       'L2203_23', 'L2203_24', 'L2203_25', 'L2203_26', 'L2203_27', 'L2203_28',
       'L2203_29', 'L2203_30', 'L2203_31', 'L2203_M_S']] = LP_22_03.loc[:,['L2203_1', 'L2203_2', 'L2203_3', 'L2203_4',
       'L2203_5', 'L2203_6', 'L2203_7', 'L2203_8', 'L2203_9', 'L2203_10',
       'L2203_11', 'L2203_12', 'L2203_13', 'L2203_14', 'L2203_15', 'L2203_16',
       'L2203_17', 'L2203_18', 'L2203_19', 'L2203_20', 'L2203_21', 'L2203_22',
       'L2203_23', 'L2203_24', 'L2203_25', 'L2203_26', 'L2203_27', 'L2203_28',
       'L2203_29', 'L2203_30', 'L2203_31', 'L2203_M_S']].astype('float32')
LP_22_03.loc[:,['TYPE_2203', 'L2203_B_S']] = LP_22_03.loc[:,['TYPE_2203', 'L2203_B_S']].astype('category')
LP_22_04.loc[:,['L2204_1', 'L2204_2', 'L2204_3', 'L2204_4',
       'L2204_5', 'L2204_6', 'L2204_7', 'L2204_8', 'L2204_9', 'L2204_10',
       'L2204_11', 'L2204_12', 'L2204_13', 'L2204_14', 'L2204_15', 'L2204_16',
       'L2204_17', 'L2204_18', 'L2204_19', 'L2204_20', 'L2204_21', 'L2204_22',
       'L2204_23', 'L2204_24', 'L2204_25', 'L2204_26', 'L2204_27', 'L2204_28',
       'L2204_29', 'L2204_30', 'L2204_31', 'L2204_M_S']] = LP_22_04.loc[:,['L2204_1', 'L2204_2', 'L2204_3', 'L2204_4',
       'L2204_5', 'L2204_6', 'L2204_7', 'L2204_8', 'L2204_9', 'L2204_10',
       'L2204_11', 'L2204_12', 'L2204_13', 'L2204_14', 'L2204_15', 'L2204_16',
       'L2204_17', 'L2204_18', 'L2204_19', 'L2204_20', 'L2204_21', 'L2204_22',
       'L2204_23', 'L2204_24', 'L2204_25', 'L2204_26', 'L2204_27', 'L2204_28',
       'L2204_29', 'L2204_30', 'L2204_31', 'L2204_M_S']].astype('float32')
LP_22_04.loc[:,['TYPE_2204', 'L2204_B_S']] = LP_22_04.loc[:,['TYPE_2204', 'L2204_B_S']].astype('category')
LP_22_05.loc[:,['L2205_1', 'L2205_2', 'L2205_3', 'L2205_4',
       'L2205_5', 'L2205_6', 'L2205_7', 'L2205_8', 'L2205_9', 'L2205_10',
       'L2205_11', 'L2205_12', 'L2205_13', 'L2205_14', 'L2205_15', 'L2205_16',
       'L2205_17', 'L2205_18', 'L2205_19', 'L2205_20', 'L2205_21', 'L2205_22',
       'L2205_23', 'L2205_24', 'L2205_25', 'L2205_26', 'L2205_27', 'L2205_28',
       'L2205_29', 'L2205_30', 'L2205_31', 'L2205_M_S']] = LP_22_05.loc[:,['L2205_1', 'L2205_2', 'L2205_3', 'L2205_4',
       'L2205_5', 'L2205_6', 'L2205_7', 'L2205_8', 'L2205_9', 'L2205_10',
       'L2205_11', 'L2205_12', 'L2205_13', 'L2205_14', 'L2205_15', 'L2205_16',
       'L2205_17', 'L2205_18', 'L2205_19', 'L2205_20', 'L2205_21', 'L2205_22',
       'L2205_23', 'L2205_24', 'L2205_25', 'L2205_26', 'L2205_27', 'L2205_28',
       'L2205_29', 'L2205_30', 'L2205_31', 'L2205_M_S']].astype('float32')
LP_22_05.loc[:,['TYPE_2205', 'L2205_B_S']] = LP_22_05.loc[:,['TYPE_2205', 'L2205_B_S']].astype('category')

In [18]:
# 일별 성공률 -> 월별 성공률 평균으로 변경 후 데이터 삭제하여 메모리 확보
# 49.6 MB -> 6.1 MB 메모리 절감

In [19]:
# 평균 컬럼 추가
tmp = LP_20_01.iloc[:,3:-1]
# 표준편차 컬럼 추가
LP_20_01['L2001_M'] = tmp.mean(axis=1)
# 일자별 성공률 컬럼 제외하고 새로 생성
LP_20_01['L2001_S'] = tmp.std(axis=1)
LP_20_01 = LP_20_01[['cno', 'TYPE_2001', 'L2001_B_S', 'L2001_M', 'L2001_S']]
tmp = LP_20_02.iloc[:,3:-1]
LP_20_02['L2002_M'] = tmp.mean(axis=1)
LP_20_02['L2002_S'] = tmp.std(axis=1)
LP_20_02 = LP_20_02[['cno', 'TYPE_2002', 'L2002_B_S', 'L2002_M', 'L2002_S']]
tmp = LP_20_03.iloc[:,3:-1]
LP_20_03['L2003_M'] = tmp.mean(axis=1)
LP_20_03['L2003_S'] = tmp.std(axis=1)
LP_20_03 = LP_20_03[['cno', 'TYPE_2003', 'L2003_B_S', 'L2003_M', 'L2003_S']]
tmp = LP_20_04.iloc[:,3:-1]
LP_20_04['L2004_M'] = tmp.mean(axis=1)
LP_20_04['L2004_S'] = tmp.std(axis=1)
LP_20_04 = LP_20_04[['cno', 'TYPE_2004', 'L2004_B_S', 'L2004_M', 'L2004_S']]
tmp = LP_20_05.iloc[:,3:-1]
LP_20_05['L2005_M'] = tmp.mean(axis=1)
LP_20_05['L2005_S'] = tmp.std(axis=1)
LP_20_05 = LP_20_05[['cno', 'TYPE_2005', 'L2005_B_S', 'L2005_M', 'L2005_S']]
tmp = LP_20_06.iloc[:,3:-1]
LP_20_06['L2006_M'] = tmp.mean(axis=1)
LP_20_06['L2006_S'] = tmp.std(axis=1)
LP_20_06 = LP_20_06[['cno', 'TYPE_2006', 'L2006_B_S', 'L2006_M', 'L2006_S']]
tmp = LP_20_07.iloc[:,3:-1]
LP_20_07['L2007_M'] = tmp.mean(axis=1)
LP_20_07['L2007_S'] = tmp.std(axis=1)
LP_20_07 = LP_20_07[['cno', 'TYPE_2007', 'L2007_B_S', 'L2007_M', 'L2007_S']]
tmp = LP_20_08.iloc[:,3:-1]
LP_20_08['L2008_M'] = tmp.mean(axis=1)
LP_20_08['L2008_S'] = tmp.std(axis=1)
LP_20_08 = LP_20_08[['cno', 'TYPE_2008', 'L2008_B_S', 'L2008_M', 'L2008_S']]
tmp = LP_20_09.iloc[:,3:-1]
LP_20_09['L2009_M'] = tmp.mean(axis=1)
LP_20_09['L2009_S'] = tmp.std(axis=1)
LP_20_09 = LP_20_09[['cno', 'TYPE_2009', 'L2009_B_S', 'L2009_M', 'L2009_S']]
tmp = LP_20_10.iloc[:,3:-1]
LP_20_10['L2010_M'] = tmp.mean(axis=1)
LP_20_10['L2010_S'] = tmp.std(axis=1)
LP_20_10 = LP_20_10[['cno', 'TYPE_2010', 'L2010_B_S', 'L2010_M', 'L2010_S']]
tmp = LP_20_11.iloc[:,3:-1]
LP_20_11['L2011_M'] = tmp.mean(axis=1)
LP_20_11['L2011_S'] = tmp.std(axis=1)
LP_20_11 = LP_20_11[['cno', 'TYPE_2011', 'L2011_B_S', 'L2011_M', 'L2011_S']]
tmp = LP_20_12.iloc[:,3:-1]
LP_20_12['L2012_M'] = tmp.mean(axis=1)
LP_20_12['L2012_S'] = tmp.std(axis=1)
LP_20_12 = LP_20_12[['cno', 'TYPE_2012', 'L2012_B_S', 'L2012_M', 'L2012_S']]

In [20]:
tmp = LP_21_01.iloc[:,3:-1]
LP_21_01['L2101_M'] = tmp.mean(axis=1)
LP_21_01['L2101_S'] = tmp.std(axis=1)
LP_21_01 = LP_21_01[['cno', 'TYPE_2101', 'L2101_B_S', 'L2101_M', 'L2101_S']]
tmp = LP_21_02.iloc[:,3:-1]
LP_21_02['L2102_M'] = tmp.mean(axis=1)
LP_21_02['L2102_S'] = tmp.std(axis=1)
LP_21_02 = LP_21_02[['cno', 'TYPE_2102', 'L2102_B_S', 'L2102_M', 'L2102_S']]
tmp = LP_21_03.iloc[:,3:-1]
LP_21_03['L2103_M'] = tmp.mean(axis=1)
LP_21_03['L2103_S'] = tmp.std(axis=1)
LP_21_03 = LP_21_03[['cno', 'TYPE_2103', 'L2103_B_S', 'L2103_M', 'L2103_S']]
tmp = LP_21_04.iloc[:,3:-1]
LP_21_04['L2104_M'] = tmp.mean(axis=1)
LP_21_04['L2104_S'] = tmp.std(axis=1)
LP_21_04 = LP_21_04[['cno', 'TYPE_2104', 'L2104_B_S', 'L2104_M', 'L2104_S']]
tmp = LP_21_05.iloc[:,3:-1]
LP_21_05['L2105_M'] = tmp.mean(axis=1)
LP_21_05['L2105_S'] = tmp.std(axis=1)
LP_21_05 = LP_21_05[['cno', 'TYPE_2105', 'L2105_B_S', 'L2105_M', 'L2105_S']]
tmp = LP_21_06.iloc[:,3:-1]
LP_21_06['L2106_M'] = tmp.mean(axis=1)
LP_21_06['L2106_S'] = tmp.std(axis=1)
LP_21_06 = LP_21_06[['cno', 'TYPE_2106', 'L2106_B_S', 'L2106_M', 'L2106_S']]
tmp = LP_21_07.iloc[:,3:-1]
LP_21_07['L2107_M'] = tmp.mean(axis=1)
LP_21_07['L2107_S'] = tmp.std(axis=1)
LP_21_07 = LP_21_07[['cno', 'TYPE_2107', 'L2107_B_S', 'L2107_M', 'L2107_S']]
tmp = LP_21_08.iloc[:,3:-1]
LP_21_08['L2108_M'] = tmp.mean(axis=1)
LP_21_08['L2108_S'] = tmp.std(axis=1)
LP_21_08 = LP_21_08[['cno', 'TYPE_2108', 'L2108_B_S', 'L2108_M', 'L2108_S']]
tmp = LP_21_09.iloc[:,3:-1]
LP_21_09['L2109_M'] = tmp.mean(axis=1)
LP_21_09['L2109_S'] = tmp.std(axis=1)
LP_21_09 = LP_21_09[['cno', 'TYPE_2109', 'L2109_B_S', 'L2109_M', 'L2109_S']]
tmp = LP_21_10.iloc[:,3:-1]
LP_21_10['L2110_M'] = tmp.mean(axis=1)
LP_21_10['L2110_S'] = tmp.std(axis=1)
LP_21_10 = LP_21_10[['cno', 'TYPE_2110', 'L2110_B_S', 'L2110_M', 'L2110_S']]
tmp = LP_21_11.iloc[:,3:-1]
LP_21_11['L2111_M'] = tmp.mean(axis=1)
LP_21_11['L2111_S'] = tmp.std(axis=1)
LP_21_11 = LP_21_11[['cno', 'TYPE_2111', 'L2111_B_S', 'L2111_M', 'L2111_S']]
tmp = LP_21_12.iloc[:,3:-1]
LP_21_12['L2112_M'] = tmp.mean(axis=1)
LP_21_12['L2112_S'] = tmp.std(axis=1)
LP_21_12 = LP_21_12[['cno', 'TYPE_2112', 'L2112_B_S', 'L2112_M', 'L2112_S']]

In [21]:
tmp = LP_22_01.iloc[:,3:-1]
LP_22_01['L2201_M'] = tmp.mean(axis=1)
LP_22_01['L2201_S'] = tmp.std(axis=1)
LP_22_01 = LP_22_01[['cno', 'TYPE_2201', 'L2201_B_S', 'L2201_M', 'L2201_S']]
tmp = LP_22_02.iloc[:,3:-1]
LP_22_02['L2202_M'] = tmp.mean(axis=1)
LP_22_02['L2202_S'] = tmp.std(axis=1)
LP_22_02 = LP_22_02[['cno', 'TYPE_2202', 'L2202_B_S', 'L2202_M', 'L2202_S']]
tmp = LP_22_03.iloc[:,3:-1]
LP_22_03['L2203_M'] = tmp.mean(axis=1)
LP_22_03['L2203_S'] = tmp.std(axis=1)
LP_22_03 = LP_22_03[['cno', 'TYPE_2203', 'L2203_B_S', 'L2203_M', 'L2203_S']]
tmp = LP_22_04.iloc[:,3:-1]
LP_22_04['L2204_M'] = tmp.mean(axis=1)
LP_22_04['L2204_S'] = tmp.std(axis=1)
LP_22_04 = LP_22_04[['cno', 'TYPE_2204', 'L2204_B_S', 'L2204_M', 'L2204_S']]
tmp = LP_22_05.iloc[:,3:-1]
LP_22_05['L2205_M'] = tmp.mean(axis=1)
LP_22_05['L2205_S'] = tmp.std(axis=1)
LP_22_05 = LP_22_05[['cno', 'TYPE_2205', 'L2205_B_S', 'L2205_M', 'L2205_S']]

In [22]:
FIX_DT

              cno        B_DT        A_DT
0       216155951  20200428.0  20200807.0
1       216155942  20200428.0  20200807.0
2       216155933  20200428.0  20200807.0
3       209288661  20200919.0  20201116.0
4       209288670  20200919.0  20201116.0
...           ...         ...         ...
356765  231290386  20200919.0  20201116.0
356766  240999620  20200919.0  20201116.0
356767  240999773  20200919.0  20201116.0
356768  246564613  20200919.0  20201116.0
356769  240999602  20200919.0  20201116.0

[356770 rows x 3 columns]

In [23]:
condition_b = (FIX_DT['B_DT'].isna())
condition_a = (FIX_DT['A_DT'].isna())

In [24]:
FIX_DT[condition_b]

              cno  B_DT  A_DT
19      209289143   NaN   NaN
28      209289429   NaN   NaN
29      209289410   NaN   NaN
30      209289401   NaN   NaN
31      240883353   NaN   NaN
...           ...   ...   ...
356734  208041313   NaN   NaN
356739  242774921   NaN   NaN
356740  242774930   NaN   NaN
356749  234266497   NaN   NaN
356758  213085597   NaN   NaN

[101305 rows x 3 columns]

In [25]:
FIX_DT[condition_a]

              cno  B_DT  A_DT
19      209289143   NaN   NaN
28      209289429   NaN   NaN
29      209289410   NaN   NaN
30      209289401   NaN   NaN
31      240883353   NaN   NaN
...           ...   ...   ...
356734  208041313   NaN   NaN
356739  242774921   NaN   NaN
356740  242774930   NaN   NaN
356749  234266497   NaN   NaN
356758  213085597   NaN   NaN

[74738 rows x 3 columns]

In [26]:
condition_c = (FIX_DT['B_DT'].isna()) & (FIX_DT['A_DT'].isna())
FIX_DT[condition_c]

              cno  B_DT  A_DT
19      209289143   NaN   NaN
28      209289429   NaN   NaN
29      209289410   NaN   NaN
30      209289401   NaN   NaN
31      240883353   NaN   NaN
...           ...   ...   ...
356734  208041313   NaN   NaN
356739  242774921   NaN   NaN
356740  242774930   NaN   NaN
356749  234266497   NaN   NaN
356758  213085597   NaN   NaN

[74738 rows x 3 columns]

In [27]:
# 병행검침 확정일 데이터가 없는 고객 번호
BNOT_LI = FIX_DT[condition_b]['cno']

In [28]:
# 병행검침 데이터가 있는 고객으로만 데이터 재정의

LP_20_01 = LP_20_01[~LP_20_01['cno'].isin(BNOT_LI)]
LP_20_02 = LP_20_02[~LP_20_02['cno'].isin(BNOT_LI)]
LP_20_03 = LP_20_03[~LP_20_03['cno'].isin(BNOT_LI)]
LP_20_04 = LP_20_04[~LP_20_04['cno'].isin(BNOT_LI)]
LP_20_05 = LP_20_05[~LP_20_05['cno'].isin(BNOT_LI)]
LP_20_06 = LP_20_06[~LP_20_06['cno'].isin(BNOT_LI)]
LP_20_07 = LP_20_07[~LP_20_07['cno'].isin(BNOT_LI)]
LP_20_08 = LP_20_08[~LP_20_08['cno'].isin(BNOT_LI)]
LP_20_09 = LP_20_09[~LP_20_09['cno'].isin(BNOT_LI)]
LP_20_10 = LP_20_10[~LP_20_10['cno'].isin(BNOT_LI)]
LP_20_11 = LP_20_11[~LP_20_11['cno'].isin(BNOT_LI)]
LP_20_12 = LP_20_12[~LP_20_12['cno'].isin(BNOT_LI)]

LP_21_01 = LP_21_01[~LP_21_01['cno'].isin(BNOT_LI)]
LP_21_02 = LP_21_02[~LP_21_02['cno'].isin(BNOT_LI)]
LP_21_03 = LP_21_03[~LP_21_03['cno'].isin(BNOT_LI)]
LP_21_04 = LP_21_04[~LP_21_04['cno'].isin(BNOT_LI)]
LP_21_05 = LP_21_05[~LP_21_05['cno'].isin(BNOT_LI)]
LP_21_06 = LP_21_06[~LP_21_06['cno'].isin(BNOT_LI)]
LP_21_07 = LP_21_07[~LP_21_07['cno'].isin(BNOT_LI)]
LP_21_08 = LP_21_08[~LP_21_08['cno'].isin(BNOT_LI)]
LP_21_09 = LP_21_09[~LP_21_09['cno'].isin(BNOT_LI)]
LP_21_10 = LP_21_10[~LP_21_10['cno'].isin(BNOT_LI)]
LP_21_11 = LP_21_11[~LP_21_11['cno'].isin(BNOT_LI)]
LP_21_12 = LP_21_12[~LP_21_12['cno'].isin(BNOT_LI)]

LP_22_01 = LP_22_01[~LP_22_01['cno'].isin(BNOT_LI)]
LP_22_02 = LP_22_02[~LP_22_02['cno'].isin(BNOT_LI)]
LP_22_03 = LP_22_03[~LP_22_03['cno'].isin(BNOT_LI)]
LP_22_04 = LP_22_04[~LP_22_04['cno'].isin(BNOT_LI)]
LP_22_05 = LP_22_05[~LP_22_05['cno'].isin(BNOT_LI)]

In [29]:
# data join
LP_TOT = pd.merge(LP_20_01, LP_20_02, how="outer", on="cno")

In [30]:
LP_TOT

,cno,TYPE_2001,L2001_B_S,L2001_M,L2001_S,TYPE_2002,L2002_B_S,L2002_M,L2002_S
0,216155951,PLC,성공,100.0,0.0,PLC,성공,99.856209,0.774349
1,216155942,PLC,성공,100.0,0.0,PLC,성공,99.856209,0.774349
2,216155933,PLC,성공,100.0,0.0,PLC,성공,99.856209,0.774349
3,209288661,PLC,성공,100.0,0.0,PLC,시간외,100.000000,0.000000
4,209288670,PLC,성공,100.0,0.0,PLC,시간외,100.000000,0.000000
...,...,...,...,...,...,...,...,...,...
256205,231290386,LTE_IV,성공,100.0,0.0,LTE_IV,성공,99.568962,2.321192
256206,240999620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256207,240999773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256208,246564613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256209,240999602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
LP_TOT = pd.merge(LP_TOT, LP_20_03, how="outer", on="cno")

In [32]:
LP_TOT = pd.merge(LP_TOT, LP_20_04, how="outer", on="cno")

In [33]:
LP_TOT

,cno,TYPE_2001,L2001_B_S,L2001_M,L2001_S,TYPE_2002,L2002_B_S,L2002_M,L2002_S,TYPE_2003,L2003_B_S,L2003_M,L2003_S,TYPE_2004,L2004_B_S,L2004_M,L2004_S
0,216155951,PLC,성공,100.0,0.0,PLC,성공,99.856209,0.774349,PLC,성공,99.865486,0.748954,PLC,성공,99.583336,2.282177
1,216155942,PLC,성공,100.0,0.0,PLC,성공,99.856209,0.774349,PLC,성공,99.865486,0.748954,PLC,성공,99.583336,2.282177
2,216155933,PLC,성공,100.0,0.0,PLC,성공,99.856209,0.774349,PLC,성공,99.865486,0.748954,PLC,성공,99.583336,2.282177
3,209288661,PLC,성공,100.0,0.0,PLC,시간외,100.000000,0.000000,PLC,성공,99.865486,0.748954,PLC,시간외,99.122635,3.824360
4,209288670,PLC,성공,100.0,0.0,PLC,시간외,100.000000,0.000000,PLC,성공,99.865486,0.748954,PLC,시간외,99.122635,3.824360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263105,231290386,LTE_IV,성공,100.0,0.0,LTE_IV,성공,99.568962,2.321192,LTE_IV,성공,99.865486,0.748954,LTE_IV,성공,99.444336,1.809017
263106,240999620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263107,240999773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263108,246564613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263109,240999602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
del LP_20_01
del LP_20_02
del LP_20_03
del LP_20_04

In [35]:
LP_TOT = pd.merge(LP_TOT, LP_20_05, how='outer', on='cno')
del LP_20_05
LP_TOT = pd.merge(LP_TOT, LP_20_06, how='outer', on='cno')
del LP_20_06
LP_TOT = pd.merge(LP_TOT, LP_20_07, how='outer', on='cno')
del LP_20_07
LP_TOT = pd.merge(LP_TOT, LP_20_08, how='outer', on='cno')
del LP_20_08
LP_TOT = pd.merge(LP_TOT, LP_20_09, how='outer', on='cno')
del LP_20_09
LP_TOT = pd.merge(LP_TOT, LP_20_10, how='outer', on='cno')
del LP_20_10
LP_TOT = pd.merge(LP_TOT, LP_20_11, how='outer', on='cno')
del LP_20_11
LP_TOT = pd.merge(LP_TOT, LP_20_12, how='outer', on='cno')
del LP_20_12

In [36]:
LP_TOT = pd.merge(LP_TOT, LP_21_01, how='outer', on='cno')
del LP_21_01
LP_TOT = pd.merge(LP_TOT, LP_21_02, how='outer', on='cno')
del LP_21_02
LP_TOT = pd.merge(LP_TOT, LP_21_03, how='outer', on='cno')
del LP_21_03
LP_TOT = pd.merge(LP_TOT, LP_21_04, how='outer', on='cno')
del LP_21_04

In [37]:
LP_TOT.to_csv("LP_2001_2104.csv")

In [38]:
LP_TOT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37937110 entries, 0 to 37937109
Data columns (total 65 columns):
 #   Column     Dtype
---  ------     -----
 0   cno        int64
 1   TYPE_2001  category
 2   L2001_B_S  category
 3   L2001_M    float32
 4   L2001_S    float32
 5   TYPE_2002  category
 6   L2002_B_S  category
 7   L2002_M    float32
 8   L2002_S    float32
 9   TYPE_2003  category
 10  L2003_B_S  category
 11  L2003_M    float32
 12  L2003_S    float32
 13  TYPE_2004  category
 14  L2004_B_S  category
 15  L2004_M    float32
 16  L2004_S    float32
 17  TYPE_2005  category
 18  L2005_B_S  category
 19  L2005_M    float32
 20  L2005_S    float32
 21  TYPE_2006  category
 22  L2006_B_S  category
 23  L2006_M    float32
 24  L2006_S    float32
 25  TYPE_2007  category
 26  L2007_B_S  category
 27  L2007_M    float32
 28  L2007_S    float32
 29  TYPE_2008  category
 30  L2008_B_S  category
 31  L2008_M    float32
 32  L2008_S    float32
 33  TYPE_2009  category
 34  L2009_B_S  category
 35  L2009_M    float32
 36  L2009_S    float32
 37  TYPE_2010  category
 38  L2010_B_S  category
 39  L2010_M    float32
 40  L2010_S    float32
 41  TYPE_2011  category
 42  L2011_B_S  category
 43  L2011_M    float32
 44  L2011_S    float32
 45  TYPE_2012  category
 46  L2012_B_S  category
 47  L2012_M    float32
 48  L2012_S    float32
 49  TYPE_2101  category
 50  L2101_B_S  category
 51  L2101_M    float32
 52  L2101_S    float32
 53  TYPE_2102  category
 54  L2102_B_S  category
 55  L2102_M    float32
 56  L2102_S    float32
 57  TYPE_2103  category
 58  L2103_B_S  category
 59  L2103_M    float32
 60  L2103_S    float32
 61  TYPE_2104  category
 62  L2104_B_S  category
 63  L2104_M    float32
 64  L2104_S    float32
dtypes: category(32), float32(32), int64(1)
memory usage: 6.2 GB

In [39]:
# 20.01 ~ 21.04 데이터 끊어서 저장 후 지금까지 merge한 df 삭제
del LP_TOT

In [40]:
# 21.05 ~ 22.05 새로운 df에 merge
LP_TOT = pd.merge(LP_21_05, LP_21_06, how='outer', on='cno')
del LP_21_06
LP_TOT = pd.merge(LP_TOT, LP_21_07, how='outer', on='cno')
del LP_21_07
LP_TOT = pd.merge(LP_TOT, LP_21_08, how='outer', on='cno')
del LP_21_08

In [41]:
LP_TOT = pd.merge(LP_TOT, LP_21_09, how='outer', on='cno')
del LP_21_09
LP_TOT = pd.merge(LP_TOT, LP_21_10, how='outer', on='cno')
del LP_21_10
LP_TOT = pd.merge(LP_TOT, LP_21_11, how='outer', on='cno')
del LP_21_11
LP_TOT = pd.merge(LP_TOT, LP_21_12, how='outer', on='cno')
del LP_21_12

In [42]:
LP_TOT = pd.merge(LP_TOT, LP_22_01, how='outer', on='cno')
del LP_22_01
LP_TOT = pd.merge(LP_TOT, LP_22_02, how='outer', on='cno')
del LP_22_02
LP_TOT = pd.merge(LP_TOT, LP_22_03, how='outer', on='cno')
del LP_22_03

In [43]:
LP_TOT = pd.merge(LP_TOT, LP_22_04, how='outer', on='cno')
del LP_22_04
LP_TOT = pd.merge(LP_TOT, LP_22_05, how='outer', on='cno')
del LP_22_05

In [44]:
LP_TOT.to_csv("LP_2105_2205.csv")

In [46]:
LP_TOT

,cno,TYPE_2105,L2105_B_S,L2105_M,L2105_S,TYPE_2106,L2106_B_S,L2106_M,L2106_S,TYPE_2107,...,L2203_M,L2203_S,TYPE_2204,L2204_B_S,L2204_M,L2204_S,TYPE_2205,L2205_B_S,L2205_M,L2205_S
0,216155951,PLC,성공,100.000000,0.000000,PLC,성공,100.0,0.0,PLC,...,100.0000,0.000000,PLC,성공,100.000,0.00000,PLC,성공,100.000000,0.000000
1,216155942,PLC,성공,100.000000,0.000000,PLC,성공,100.0,0.0,PLC,...,100.0000,0.000000,PLC,성공,100.000,0.00000,PLC,성공,100.000000,0.000000
2,216155933,PLC,성공,100.000000,0.000000,PLC,성공,100.0,0.0,PLC,...,100.0000,0.000000,PLC,성공,100.000,0.00000,PLC,성공,100.000000,0.000000
3,209288661,PLC,성공,99.583336,2.282177,PLC,성공,100.0,0.0,PLC,...,100.0000,0.000000,PLC,성공,100.000,0.00000,PLC,성공,100.000000,0.000000
4,209288670,PLC,성공,100.000000,0.000000,PLC,성공,100.0,0.0,PLC,...,98.3871,5.451705,PLC,성공,93.611,20.69594,PLC,성공,99.731285,1.496112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4964305,231290386,LTE_IV,성공,100.000000,0.000000,LTE_IV,성공,100.0,0.0,LTE_IV,...,100.0000,0.000000,LTE_IV,성공,100.000,0.00000,LTE_IV,성공,100.000000,0.000000
4964306,240999620,LTE_IV,성공,100.000000,0.000000,LTE_IV,성공,100.0,0.0,LTE_IV,...,100.0000,0.000000,LTE_IV,성공,100.000,0.00000,LTE_IV,성공,100.000000,0.000000
4964307,240999773,LTE_IV,성공,99.965332,0.189877,LTE_IV,성공,100.0,0.0,LTE_IV,...,100.0000,0.000000,LTE_IV,성공,100.000,0.00000,LTE_IV,성공,100.000000,0.000000
4964308,246564613,LTE_IV,성공,100.000000,0.000000,LTE_IV,성공,100.0,0.0,LTE_IV,...,100.0000,0.000000,LTE_IV,성공,100.000,0.00000,LTE_IV,성공,100.000000,0.000000
4964309,240999602,LTE_IV,성공,100.000000,0.000000,LTE_IV,성공,100.0,0.0,LTE_IV,...,100.0000,0.000000,LTE_IV,성공,100.000,0.00000,LTE_IV,성공,100.000000,0.000000

In [ ]:
# RSRP null 데이터 다수 존재 -> null 은 0으로 대체
RSRP_20_03.isna().sum()

cno                       0
R2003_M_BPS_UP       163419
R2003_D_BPS_UP        48633
R2003_D_BPS_DOWN      48633
dtype: int64

In [ ]:
# FIX_DT 데이터가 가장 많으므로 해당 데이터를 기준으로 outer join
TOT_DATA = pd.merge(FIX_DT, LP_20_01, how="outer", on="cno")
del LP_20_01 # 메모리 부족으로 사용한 데이터 바로 삭제
TOT_DATA = pd.merge(TOT_DATA, LP_20_02, how="outer", on="cno")
del LP_20_02
TOT_DATA = pd.merge(TOT_DATA, LP_20_03, how="outer", on="cno")
del LP_20_03
TOT_DATA = pd.merge(TOT_DATA, LP_20_04, how="outer", on="cno")
del LP_20_04
TOT_DATA = pd.merge(TOT_DATA, LP_20_05, how="outer", on="cno")
del LP_20_05

In [ ]:
TOT_DATA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435014 entries, 0 to 435013
Columns: 173 entries, cno to L2005_M_S
dtypes: category(10), float32(160), float64(2), int64(1)
memory usage: 282.9 MB

In [ ]:
# 한번에 실행하면 메모리 Full 되서 끊어서 실행
TOT_DATA = pd.merge(TOT_DATA, LP_20_06, how="outer", on="cno")
del LP_20_06
TOT_DATA = pd.merge(TOT_DATA, LP_20_07, how="outer", on="cno")
del LP_20_07
TOT_DATA = pd.merge(TOT_DATA, LP_20_08, how="outer", on="cno")
del LP_20_08

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TYPE_x'} in the result is deprecated and will raise a MergeError in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TYPE_x'} in the result is deprecated and will raise a MergeError in a future version.

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_20_09, how="outer", on="cno")
del LP_20_09

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_20_10, how="outer", on="cno")
del LP_20_10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TYPE_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_20_11, how="outer", on="cno")
del LP_20_11

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_20_12, how="outer", on="cno")
del LP_20_12

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TYPE_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TYPE_x'} in the result is deprecated and will raise a MergeError in a future version.
  """

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_21_01, how="outer", on="cno")
del LP_21_01
TOT_DATA = pd.merge(TOT_DATA, LP_21_02, how="outer", on="cno")
del LP_21_02
TOT_DATA = pd.merge(TOT_DATA, LP_21_03, how="outer", on="cno")
del LP_21_03
TOT_DATA = pd.merge(TOT_DATA, LP_21_04, how="outer", on="cno")
del LP_21_04
TOT_DATA = pd.merge(TOT_DATA, LP_21_05, how="outer", on="cno")
del LP_21_05
TOT_DATA = pd.merge(TOT_DATA, LP_21_06, how="outer", on="cno")
del LP_21_06

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_21_07, how="outer", on="cno")
del LP_21_07
TOT_DATA = pd.merge(TOT_DATA, LP_21_08, how="outer", on="cno")
del LP_21_08
TOT_DATA = pd.merge(TOT_DATA, LP_21_09, how="outer", on="cno")
del LP_21_09
TOT_DATA = pd.merge(TOT_DATA, LP_21_10, how="outer", on="cno")
del LP_21_10
TOT_DATA = pd.merge(TOT_DATA, LP_21_11, how="outer", on="cno")
del LP_21_11
TOT_DATA = pd.merge(TOT_DATA, LP_21_12, how="outer", on="cno")
del LP_21_12

In [ ]:
TOT_DATA = pd.merge(TOT_DATA, LP_22_01, how="outer", on="cno")
del LP_22_01
TOT_DATA = pd.merge(TOT_DATA, LP_22_02, how="outer", on="cno")
del LP_22_02
TOT_DATA = pd.merge(TOT_DATA, LP_22_03, how="outer", on="cno")
del LP_22_03
TOT_DATA = pd.merge(TOT_DATA, LP_22_04, how="outer", on="cno")
del LP_22_04
TOT_DATA = pd.merge(TOT_DATA, LP_22_05, how="outer", on="cno")
del LP_22_05

In [ ]:
TOT_DATA

NameError: ignored

샘플 고객 LP성공률, 정기검침 성공률, 신호세기

In [ ]:
# DRM 해제하고 파일 업로드할 것
sample = pd.read_csv(TEST_FILE_DIR+"sample.csv",  sep=',', lineterminator='\n', error_bad_lines=False, warn_bad_lines=False)

In [ ]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 86 columns):
index         20 non-null int64
mid           20 non-null int64
currType      20 non-null int64
mtype         20 non-null object
exType        20 non-null int64
currMid       20 non-null int64
comType       20 non-null object
mMac          20 non-null object
b2007         20 non-null int64
b2008         20 non-null int64
b2009         20 non-null int64
b2010         20 non-null int64
b2011         20 non-null int64
b2012         20 non-null int64
b2101         20 non-null int64
b2102         20 non-null int64
b2103         20 non-null int64
b2104         20 non-null int64
b2105         20 non-null int64
b2106         20 non-null int64
b2107         20 non-null int64
b2108         20 non-null int64
b2109         20 non-null int64
bSucCnt       20 non-null int64
lp2007        20 non-null float64
lp2008        20 non-null float64
lp2009        20 non-null float64
lp3mean       20 non-null float64
lp2010        20 non-null float64
lp2011        20 non-null float64
lp2012        20 non-null float64
lp2101        20 non-null float64
lp2102        20 non-null float64
lp2103        20 non-null float64
lp2104        20 non-null float64
lp2105        20 non-null float64
lp2106        20 non-null float64
lp2107        20 non-null float64
lp2108        20 non-null float64
lp2109        20 non-null float64
lp12mean      20 non-null float64
mUp2007       20 non-null float64
dcuUp2007     20 non-null float64
dcuDn2007     20 non-null float64
mUp2008       20 non-null float64
dcuUp2008     20 non-null float64
dcuDn2008     20 non-null float64
mUp2009       20 non-null float64
dcuUp2009     20 non-null float64
dcuDn2009     20 non-null float64
mUp2010       20 non-null float64
dcuUp2010     20 non-null float64
dcuDn2010     20 non-null float64
mUp2011       20 non-null float64
dcuUp2011     20 non-null float64
dcuDn2011     20 non-null float64
mUp2012       20 non-null float64
dcuUp2012     20 non-null float64
dcuDn2012     20 non-null float64
mUp2101       20 non-null float64
dcuUp2101     20 non-null float64
dcuDn2101     20 non-null float64
mUp2102       20 non-null float64
dcuUp2102     20 non-null float64
dcuDn2102     20 non-null float64
mUp2103       20 non-null float64
dcuUp2103     20 non-null float64
dcuDn2103     20 non-null float64
mUp2104       20 non-null float64
dcuUp2104     20 non-null float64
dcuDn2104     20 non-null float64
mUp2105       20 non-null float64
dcuUp2105     20 non-null float64
dcuDn2105     20 non-null float64
mUp2106       20 non-null float64
dcuUp2106     20 non-null float64
dcuDn2106     20 non-null float64
mUp2107       20 non-null float64
dcuUp2107     20 non-null float64
dcuDn2107     20 non-null float64
mUp2108       20 non-null float64
dcuUp2108     20 non-null float64
dcuDn2108     20 non-null float64
mUp2109       20 non-null float64
dcuUp2109     20 non-null float64
    20 non-null float64
dtypes: float64(62), int64(21), object(3)
memory usage: 13.5+ KB

In [ ]:
sample

,index,mid,currType,mtype,exType,currMid,comType,mMac,b2007,b2008,...,dcuDn2106,mUp2107,dcuUp2107,dcuDn2107,mUp2108,dcuUp2108,dcuDn2108,mUp2109,dcuUp2109,dcuDn2109
0,27,6190319732,6190319732,AE,6190319732,6190319732,PLC,E0AEED93ECD8,1,1,...,46302.90,282.50,12745.55,29782.13,283.70,12529.48,30215.35,263.47,10590.37,25611.53
1,56,6190321544,6190321544,AE,6190321544,6190321544,PLC,E0AEED93EC77,1,1,...,82829.83,260.14,175951.29,138100.68,285.00,300939.94,233092.29,250.00,212641.07,164429.80
2,175,8190141990,8190141990,AE,8190141990,8190141990,PLC,E0AEED93EC44,1,1,...,35355.67,154.03,8949.13,20836.39,63.82,8927.10,21749.23,155.94,7388.53,17674.60
3,294,6190329513,6190329513,AE,6190329513,6190329513,PLC,E0AEED93EC16,1,1,...,199324.73,412.00,238116.03,181308.32,356.00,286546.71,216340.29,364.80,221450.60,166373.00
4,389,25190195398,25190195398,AE,25190195398,25190195398,PLC,E0AEED93EB49,1,1,...,256196.93,248.19,202294.74,139320.74,233.55,136419.10,96612.74,200.89,88756.03,61968.37
5,502,36170068431,36170068431,E,36170068431,36170068431,PLC,E0AEED93EB00,1,1,...,52809.00,345.00,113831.77,59854.90,357.62,138235.42,75617.45,375.57,229336.63,136112.10
6,3512,6190329383,6190329383,AE,6190329383,6190329383,PLC,E0AEED936031,1,1,...,63486.07,122.56,17830.03,40111.87,0.00,17244.39,40410.81,108.22,24257.53,57226.97
7,13234,26170609163,26170609163,E,26170609163,26170609163,PLC,E0AEED7B9A7F,1,1,...,199464.67,268.93,223478.03,154811.19,0.00,31644.58,31903.48,268.06,147552.17,107654.67
8,14222,1171617719,1171617719,E,1171617719,1171617719,PLC,E0AEED7A4A96,1,1,...,251813.10,187.00,85330.55,80371.26,210.04,211396.03,185153.00,200.77,262184.77,228929.93
9,15199,36170086283,36170086283,E,36170086283,36170086283,PLC,E0AEED7A3B7F,1,1,...,165830.77,334.06,147166.87,119674.52,361.09,105561.13,89213.03,337.28,70745.70,59828.30
10,16156,5170689521,5170689521,E,5170689521,5170689521,LTE_IV,3.33132E+15,1,1,...,-109.37,0.00,14.03,-110.00,0.00,15.16,-110.77,0.00,14.70,-110.03
11,16978,56190162736,56190162736,AE,56190162736,56190162736,LTE_IV,3.23834E+15,1,1,...,-60.27,0.00,-31.81,-62.74,0.00,-31.03,-63.03,0.00,-31.27,-63.47
12,16984,25190074914,25190074914,AE,25190074914,25190074914,LTE_IV,3.23834E+15,1,1,...,-87.33,0.00,-4.42,-84.65,0.00,-5.55,-85.71,0.00,-5.00,-87.10
13,16995,56190166004,56190166004,AE,56190166004,56190166004,LTE_IV,3.23834E+15,1,1,...,-73.30,0.00,-16.16,-75.55,0.00,-14.55,-75.71,0.00,-14.97,-75.53
14,16999,25190188538,25190188538,AE,25190188538,25190188538,LTE_IV,3.23834E+15,1,1,...,-84.63,0.00,-13.10,-82.71,0.00,-12.94,-82.13,0.00,-12.80,-80.10
15,17005,58190000753,58190000753,AE,58190000753,58190000753,LTE_IV,3.23834E+15,1,1,...,-65.50,0.00,-26.81,-71.03,0.00,-24.68,-71.10,0.00,-25.37,-72.37
16,17013,5455004207,5455004207,G,5455004207,5455004207,LTE_IV,3.23834E+15,1,1,...,-93.80,0.00,1.74,-94.39,0.00,1.39,-94.19,0.00,0.77,-94.67
17,17033,56190161698,56190161698,AE,56190161698,56190161698,LTE_IV,3.23834E+15,1,1,...,-71.50,0.00,-22.32,-72.19,0.00,-21.06,-72.65,0.00,-21.67,-71.90
18,17041,56190161926,56190161926,AE,56190161926,56190161926,LTE_IV,3.23834E+15,1,1,...,-98.00,0.00,6.77,-98.32,0.00,6.81,-97.84,0.00,7.30,-98.37
19,17048,37190046769,37190046769,AE,37190046769,37190046769,LTE_IV,3.23834E+15,1,1,...,-71.87,0.00,-15.71,-73.42,0.00,-16.19,-72.97,0.00,-16.77,-70.50

# 정기검침 데이터 확인

In [ ]:
# 각 고객의 정기검침 평균/분포도 - 3개월
# sample_billing = sample.filter(regex='b') # 컬럼명에 특정 문자열 포함되는 경우 필터링하였으나 계기번호 미포함되어 다른 방식으로 구현

In [ ]:
colList = []
colList.append('currMid') #항상 현재 계기번호 추가

for curName in list(sample):
    if "b" in curName:
        colList.append(curName)

print(colList)

['currMid', 'b2007', 'b2008', 'b2009', 'b2010', 'b2011', 'b2012', 'b2101', 'b2102', 'b2103', 'b2104', 'b2105', 'b2106', 'b2107', 'b2108', 'b2109', 'bSucCnt']

In [ ]:
sample_billing = sample[colList]

In [ ]:
sample_billing

,currMid,b2007,b2008,b2009,b2010,b2011,b2012,b2101,b2102,b2103,b2104,b2105,b2106,b2107,b2108,b2109,bSucCnt
0,6190319732,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
1,6190321544,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
2,8190141990,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
3,6190329513,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
4,25190195398,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
5,36170068431,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
6,6190329383,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
7,26170609163,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
8,1171617719,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
9,36170086283,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
10,5170689521,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
11,56190162736,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
12,25190074914,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
13,56190166004,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
14,25190188538,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
15,58190000753,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
16,5455004207,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
17,56190161698,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
18,56190161926,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12
19,37190046769,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,12

In [ ]:
sample_billing_3m = sample_billing.iloc[:,0:4]

In [ ]:
sample_billing_1m = sample_billing.iloc[:,0:2]

In [ ]:
def get_mean(x1, x2, x3) :
    list = [x1, x2, x3]

    return float(np.mean(list))

In [ ]:
# 3개월 간 평균
sample_billing_3m['mean'] = sample_billing_3m.apply(lambda x: get_mean(x.b2007,x.b2008,x.b2009), axis='columns')

In [ ]:
def get_std(x1, x2, x3) :
    list = [x1, x2, x3]

    return float(np.std(list))

In [ ]:
# TODO : 표준정규분포.. 구해서 팩터의 하나로 쓸지 여부 결정
# def get_st_np(x1, x2, x3) :
#     list = [x1, x2, x3]

#     return float(np.std(list))

In [ ]:
sample_billing_3m['std'] = sample_billing_3m.apply(lambda x: get_std(x.b2007,x.b2008,x.b2009), axis='columns')

In [ ]:
sample_billing_3m

        currMid  b2007  b2008  b2009  mean  std
0    6190319732      1      1      1   1.0  0.0
1    6190321544      1      1      1   1.0  0.0
2    8190141990      1      1      1   1.0  0.0
3    6190329513      1      1      1   1.0  0.0
4   25190195398      1      1      1   1.0  0.0
5   36170068431      1      1      1   1.0  0.0
6    6190329383      1      1      1   1.0  0.0
7   26170609163      1      1      1   1.0  0.0
8    1171617719      1      1      1   1.0  0.0
9   36170086283      1      1      1   1.0  0.0
10   5170689521      1      1      1   1.0  0.0
11  56190162736      1      1      1   1.0  0.0
12  25190074914      1      1      1   1.0  0.0
13  56190166004      1      1      1   1.0  0.0
14  25190188538      1      1      1   1.0  0.0
15  58190000753      1      1      1   1.0  0.0
16   5455004207      1      1      1   1.0  0.0
17  56190161698      1      1      1   1.0  0.0
18  56190161926      1      1      1   1.0  0.0
19  37190046769      1      1      1   1.0  0.0

In [ ]:
# 각 고객의 정기검침 평균/분포도 - 1개월
# 3개월치 데이터 확인 결과와 1개월치 데이터 확인 결과 비교
billing_check = pd.merge(sample_billing_3m, sample_billing_1m, on='currMid')

In [ ]:
billing_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 7 columns):
currMid    20 non-null int64
b2007_x    20 non-null int64
b2008      20 non-null int64
b2009      20 non-null int64
mean       20 non-null float64
std        20 non-null float64
b2007_y    20 non-null int64
dtypes: float64(2), int64(5)
memory usage: 1.2 KB

In [ ]:
def eq_check(x1, x2) :
    print(type(x2))
    if x1==x2 :
        return 'O'
    else :
        return 'X'

In [ ]:
# TODO : 평균값의 데이터 타입이 method 로 나와서 int형과 비교했을 때 값이 다르다고 나옴. 확인 필요
billing_check['res']=billing_check.apply(lambda x: eq_check(x.b2007_y,x.mean), axis='columns')

<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>
<class 'method'>

In [ ]:
billing_check = billing_check.drop(['res'],axis=1)

In [ ]:
billing_check

        currMid  b2007_x  b2008  b2009  mean  std  b2007_y
0    6190319732        1      1      1   1.0  0.0        1
1    6190321544        1      1      1   1.0  0.0        1
2    8190141990        1      1      1   1.0  0.0        1
3    6190329513        1      1      1   1.0  0.0        1
4   25190195398        1      1      1   1.0  0.0        1
5   36170068431        1      1      1   1.0  0.0        1
6    6190329383        1      1      1   1.0  0.0        1
7   26170609163        1      1      1   1.0  0.0        1
8    1171617719        1      1      1   1.0  0.0        1
9   36170086283        1      1      1   1.0  0.0        1
10   5170689521        1      1      1   1.0  0.0        1
11  56190162736        1      1      1   1.0  0.0        1
12  25190074914        1      1      1   1.0  0.0        1
13  56190166004        1      1      1   1.0  0.0        1
14  25190188538        1      1      1   1.0  0.0        1
15  58190000753        1      1      1   1.0  0.0        1
16   5455004207        1      1      1   1.0  0.0        1
17  56190161698        1      1      1   1.0  0.0        1
18  56190161926        1      1      1   1.0  0.0        1
19  37190046769        1      1      1   1.0  0.0        1

# LP검침 데이터 확인

In [ ]:
# 각 고객의 LP검침 평균/분포도 - 3개월
colList = []
colList.append('currMid') #항상 현재 계기번호 추가

for curName in list(sample):
    if "lp" in curName:
        colList.append(curName)

print(colList)

['currMid', 'lp2007', 'lp2008', 'lp2009', 'lp3mean', 'lp2010', 'lp2011', 'lp2012', 'lp2101', 'lp2102', 'lp2103', 'lp2104', 'lp2105', 'lp2106', 'lp2107', 'lp2108', 'lp2109', 'lp12mean']

In [ ]:
sample_lp = sample[colList]

In [ ]:
sample_lp

,currMid,lp2007,lp2008,lp2009,lp3mean,lp2010,lp2011,lp2012,lp2101,lp2102,lp2103,lp2104,lp2105,lp2106,lp2107,lp2108,lp2109,lp12mean
0,6190319732,100.00,100.00,99.86,99.953333,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
1,6190321544,99.19,99.46,98.75,99.133333,99.60,99.44,99.60,99.46,99.26,100.00,99.44,95.97,99.72,100.00,100.00,100.00,99.374167
2,8190141990,100.00,100.00,99.86,99.953333,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
3,6190329513,100.00,99.87,99.72,99.863333,100.00,99.86,100.00,99.60,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.685833
4,25190195398,100.00,100.00,99.86,99.953333,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
5,36170068431,100.00,100.00,100.00,100.000000,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
6,6190329383,99.87,99.73,100.00,99.866667,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
7,26170609163,100.00,100.00,100.00,100.000000,100.00,100.00,100.00,97.58,100.00,99.87,99.86,96.77,100.00,100.00,100.00,100.00,99.506667
8,1171617719,100.00,100.00,100.00,100.000000,100.00,99.86,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.719167
9,36170086283,99.60,99.60,99.58,99.593333,99.73,99.58,99.73,98.92,99.85,98.25,99.31,94.09,99.86,99.87,99.73,99.86,99.065000
10,5170689521,100.00,100.00,97.08,99.026667,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,94.58,100.00,100.00,97.22,99.047500
11,56190162736,99.87,100.00,99.86,99.910000,100.00,99.86,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.719167
12,25190074914,99.87,100.00,99.86,99.910000,99.87,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.720000
13,56190166004,100.00,100.00,99.72,99.906667,99.87,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.720000
14,25190188538,100.00,99.87,99.86,99.910000,99.87,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.720000
15,58190000753,100.00,100.00,99.86,99.953333,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
16,5455004207,99.97,99.97,99.93,99.956667,100.00,100.00,99.90,100.00,99.78,100.00,99.97,96.74,100.00,99.97,100.00,100.00,99.696667
17,56190161698,100.00,100.00,99.86,99.953333,100.00,100.00,89.92,100.00,100.00,100.00,100.00,96.77,100.00,100.00,99.60,100.00,98.857500
18,56190161926,100.00,100.00,99.86,99.953333,100.00,100.00,100.00,100.00,100.00,100.00,100.00,96.77,100.00,100.00,100.00,100.00,99.730833
19,37190046769,99.87,100.00,99.72,99.863333,99.87,99.58,100.00,100.00,100.00,100.00,100.00,96.64,100.00,99.73,100.00,100.00,99.651667

In [ ]:
sample_lp_3m = sample_lp.iloc[:,0:4]
sample_lp_1m = sample_lp.iloc[:,0:2]

In [ ]:
# 3개월 간 평균
sample_lp_3m['mean'] = sample_lp_3m.apply(lambda x: get_mean(x.lp2007,x.lp2008,x.lp2009), axis='columns')

# 3개월 간 표준편차
sample_lp_3m['std'] = sample_lp_3m.apply(lambda x: get_std(x.lp2007,x.lp2008,x.lp2009), axis='columns')

In [ ]:
sample_lp_3m

        currMid  lp2007  lp2008  lp2009        mean       std
0    6190319732  100.00  100.00   99.86   99.953333  0.065997
1    6190321544   99.19   99.46   98.75   99.133333  0.292613
2    8190141990  100.00  100.00   99.86   99.953333  0.065997
3    6190329513  100.00   99.87   99.72   99.863333  0.114407
4   25190195398  100.00  100.00   99.86   99.953333  0.065997
5   36170068431  100.00  100.00  100.00  100.000000  0.000000
6    6190329383   99.87   99.73  100.00   99.866667  0.110252
7   26170609163  100.00  100.00  100.00  100.000000  0.000000
8    1171617719  100.00  100.00  100.00  100.000000  0.000000
9   36170086283   99.60   99.60   99.58   99.593333  0.009428
10   5170689521  100.00  100.00   97.08   99.026667  1.376501
11  56190162736   99.87  100.00   99.86   99.910000  0.063770
12  25190074914   99.87  100.00   99.86   99.910000  0.063770
13  56190166004  100.00  100.00   99.72   99.906667  0.131993
14  25190188538  100.00   99.87   99.86   99.910000  0.063770
15  58190000753  100.00  100.00   99.86   99.953333  0.065997
16   5455004207   99.97   99.97   99.93   99.956667  0.018856
17  56190161698  100.00  100.00   99.86   99.953333  0.065997
18  56190161926  100.00  100.00   99.86   99.953333  0.065997
19  37190046769   99.87  100.00   99.72   99.863333  0.114407

In [ ]:
# 각 고객의 LP검침 평균/분포도 - 1개월
# 3개월치 데이터 확인 결과와 1개월치 데이터 확인 결과 비교
lp_check = pd.merge(sample_lp_3m, sample_lp_1m, on='currMid')

In [ ]:
lp_check

        currMid  lp2007_x  lp2008  lp2009        mean       std  lp2007_y
0    6190319732    100.00  100.00   99.86   99.953333  0.065997    100.00
1    6190321544     99.19   99.46   98.75   99.133333  0.292613     99.19
2    8190141990    100.00  100.00   99.86   99.953333  0.065997    100.00
3    6190329513    100.00   99.87   99.72   99.863333  0.114407    100.00
4   25190195398    100.00  100.00   99.86   99.953333  0.065997    100.00
5   36170068431    100.00  100.00  100.00  100.000000  0.000000    100.00
6    6190329383     99.87   99.73  100.00   99.866667  0.110252     99.87
7   26170609163    100.00  100.00  100.00  100.000000  0.000000    100.00
8    1171617719    100.00  100.00  100.00  100.000000  0.000000    100.00
9   36170086283     99.60   99.60   99.58   99.593333  0.009428     99.60
10   5170689521    100.00  100.00   97.08   99.026667  1.376501    100.00
11  56190162736     99.87  100.00   99.86   99.910000  0.063770     99.87
12  25190074914     99.87  100.00   99.86   99.910000  0.063770     99.87
13  56190166004    100.00  100.00   99.72   99.906667  0.131993    100.00
14  25190188538    100.00   99.87   99.86   99.910000  0.063770    100.00
15  58190000753    100.00  100.00   99.86   99.953333  0.065997    100.00
16   5455004207     99.97   99.97   99.93   99.956667  0.018856     99.97
17  56190161698    100.00  100.00   99.86   99.953333  0.065997    100.00
18  56190161926    100.00  100.00   99.86   99.953333  0.065997    100.00
19  37190046769     99.87  100.00   99.72   99.863333  0.114407     99.87

# 신호세기 데이터 확인

In [ ]:
colList = []
colList.append('currMid') #항상 현재 계기번호 추가

#Dn 기준으로만 확인
for curName in list(sample):
    if "Dn" in curName:
        colList.append(curName)

print(colList)

['currMid', 'dcuDn2007', 'dcuDn2008', 'dcuDn2009', 'dcuDn2010', 'dcuDn2011', 'dcuDn2012', 'dcuDn2101', 'dcuDn2102', 'dcuDn2103', 'dcuDn2104', 'dcuDn2105', 'dcuDn2106', 'dcuDn2107', 'dcuDn2108', 'dcuDn2109\r']

In [ ]:
sample_rsrp = sample[colList]

sample_rsrp_3m = sample_rsrp.iloc[:,0:4]

sample_rsrp_1m = sample_rsrp.iloc[:,0:2]

In [ ]:
sample_rsrp_3m

        currMid  dcuDn2007  dcuDn2008  dcuDn2009
0    6190319732   38863.42   53456.52   25226.27
1    6190321544  236295.26  223098.90  195547.10
2    8190141990   51660.94   47750.26   24031.20
3    6190329513  299010.03  286730.77  277178.37
4   25190195398  180374.19  224091.45  146426.30
5   36170068431   54478.57   59881.90   53642.52
6    6190329383   40836.81   44283.52   27337.33
7   26170609163  253402.32  233786.13  142924.00
8    1171617719  384497.52  350840.97  229820.17
9   36170086283  232447.94  190990.19  142151.03
10   5170689521    -103.68    -102.74    -103.10
11  56190162736     -60.23     -61.19     -61.07
12  25190074914     -86.39     -89.32     -87.40
13  56190166004     -71.94     -73.94     -72.93
14  25190188538     -78.23     -77.97     -77.43
15  58190000753     -68.06     -67.84     -68.93
16   5455004207     -90.90     -91.42     -90.87
17  56190161698     -70.26     -71.23     -72.70
18  56190161926     -97.90     -99.74     -98.30
19  37190046769     -74.48     -76.52     -76.60

In [ ]:
# 각 고객의 수신세기 평균/분포도 - 3개월
sample_rsrp_3m['mean'] = sample_rsrp_3m.apply(lambda x: get_mean(x.dcuDn2007,x.dcuDn2008,x.dcuDn2009), axis='columns')

sample_rsrp_3m['std'] = sample_rsrp_3m.apply(lambda x: get_std(x.dcuDn2007,x.dcuDn2008,x.dcuDn2009), axis='columns')

sample_rsrp_3m

        currMid  dcuDn2007  dcuDn2008  dcuDn2009           mean           std
0    6190319732   38863.42   53456.52   25226.27   39182.070000  11527.153657
1    6190321544  236295.26  223098.90  195547.10  218313.753333  16975.990051
2    8190141990   51660.94   47750.26   24031.20   41147.466667  12207.874316
3    6190329513  299010.03  286730.77  277178.37  287639.723333   8935.882412
4   25190195398  180374.19  224091.45  146426.30  183630.646667  31790.168959
5   36170068431   54478.57   59881.90   53642.52   56000.996667   2765.357471
6    6190329383   40836.81   44283.52   27337.33   37485.886667   7312.767569
7   26170609163  253402.32  233786.13  142924.00  210037.483333  48127.355086
8    1171617719  384497.52  350840.97  229820.17  321719.553333  66419.441593
9   36170086283  232447.94  190990.19  142151.03  188529.720000  36904.592518
10   5170689521    -103.68    -102.74    -103.10    -103.173333      0.387241
11  56190162736     -60.23     -61.19     -61.07     -60.830000      0.427083
12  25190074914     -86.39     -89.32     -87.40     -87.703333      1.215246
13  56190166004     -71.94     -73.94     -72.93     -72.936667      0.816510
14  25190188538     -78.23     -77.97     -77.43     -77.876667      0.333200
15  58190000753     -68.06     -67.84     -68.93     -68.276667      0.470626
16   5455004207     -90.90     -91.42     -90.87     -91.063333      0.252499
17  56190161698     -70.26     -71.23     -72.70     -71.396667      1.003073
18  56190161926     -97.90     -99.74     -98.30     -98.646667      0.790162
19  37190046769     -74.48     -76.52     -76.60     -75.866667      0.981065

In [ ]:
# 각 고객의 수신세기 평균/분포도 - 1개월
# 3개월치 데이터 확인 결과와 1개월치 데이터 확인 결과 비교
rsrp_check = pd.merge(sample_rsrp_3m, sample_rsrp_1m, on='currMid')

In [ ]:
rsrp_check

,currMid,dcuDn2007_x,dcuDn2008,dcuDn2009,mean,std,dcuDn2007_y
0,6190319732,38863.42,53456.52,25226.27,39182.070000,11527.153657,38863.42
1,6190321544,236295.26,223098.90,195547.10,218313.753333,16975.990051,236295.26
2,8190141990,51660.94,47750.26,24031.20,41147.466667,12207.874316,51660.94
3,6190329513,299010.03,286730.77,277178.37,287639.723333,8935.882412,299010.03
4,25190195398,180374.19,224091.45,146426.30,183630.646667,31790.168959,180374.19
5,36170068431,54478.57,59881.90,53642.52,56000.996667,2765.357471,54478.57
6,6190329383,40836.81,44283.52,27337.33,37485.886667,7312.767569,40836.81
7,26170609163,253402.32,233786.13,142924.00,210037.483333,48127.355086,253402.32
8,1171617719,384497.52,350840.97,229820.17,321719.553333,66419.441593,384497.52
9,36170086283,232447.94,190990.19,142151.03,188529.720000,36904.592518,232447.94
10,5170689521,-103.68,-102.74,-103.10,-103.173333,0.387241,-103.68
11,56190162736,-60.23,-61.19,-61.07,-60.830000,0.427083,-60.23
12,25190074914,-86.39,-89.32,-87.40,-87.703333,1.215246,-86.39
13,56190166004,-71.94,-73.94,-72.93,-72.936667,0.816510,-71.94
14,25190188538,-78.23,-77.97,-77.43,-77.876667,0.333200,-78.23
15,58190000753,-68.06,-67.84,-68.93,-68.276667,0.470626,-68.06
16,5455004207,-90.90,-91.42,-90.87,-91.063333,0.252499,-90.90
17,56190161698,-70.26,-71.23,-72.70,-71.396667,1.003073,-70.26
18,56190161926,-97.90,-99.74,-98.30,-98.646667,0.790162,-97.90
19,37190046769,-74.48,-76.52,-76.60,-75.866667,0.981065,-74.48

# Output 예시

In [ ]:
result = sample[['currMid','mid']]

In [ ]:
result = result.drop(['mid'],axis=1)

In [ ]:
result

        currMid res
0    6190319732   O
1    6190321544   O
2    8190141990   O
3    6190329513   O
4   25190195398   O
5   36170068431   O
6    6190329383   O
7   26170609163   O
8    1171617719   O
9   36170086283   O
10   5170689521   O
11  56190162736   O
12  25190074914   O
13  56190166004   O
14  25190188538   O
15  58190000753   O
16   5455004207   O
17  56190161698   O
18  56190161926   O
19  37190046769   O